
<header class="header">
  <div class="wrapper">
    <div class="header-inner">
      <div class="header-logo"><a href="#!" class="link"><img src="http://prime-parket.ru/wp-content/uploads/2018/07/Prime-Parquet-Logo_2-180x86.png" alt=""/></a></div>
      <ul class="header-menu">
        <li><a href="#!" class="link">Главная</a></li>
        <li><a href="#!" class="link">Наши работы</a></li>
        <li><a href="#!" class="link">Акции</a></li>
        <li><a href="#!" class="link">Оборудование и лаки</a></li>
        <li><a href="#!" class="link">Полезные статьи</a></li>
      </ul>
      <ul class="parket-infodata">
        <li class="parket-infodata__phone"><a href="tel: 8(495)120-05-82" class="link">8 (495) 120-05-82</a></li>
        <li class="parket-infodata__whatsapp"><a href="tel: +79299372282" class="link">+7 (929)937-22-82</a></li>
        <li class="parket-infodata__mail"><a href="mailto:info@prime-parket.ru" class="link">info@prime-parket.ru</a></li>
        <li class="parket-infodata__call"><a href="#popup-form" class="link link-arrow txt-orange js-popup-btn">заказать звонок</a></li>
      </ul>
    </div>
  </div>
  <div class="header-nav">
    <div id="nav-icon1"><span></span><span></span><span></span></div>
    <div class="wrapper">
      <ul class="header-nav__list">
        <li class="header-nav__dropdown"><a href="#!" class="link">циклевка</a>
          <ul>
            <li><a href="#!" class="link">циклевка паркета</a></li>
            <li><a href="#!" class="link">циклевка фанеры</a></li>
          </ul>
        </li>
        <li><a href="#!" class="link">ремонт и реставрация паркета</a></li>
        <li><a href="#!" class="link">шлифовка паркетной доски</a></li>
        <li><a href="#!" class="link">тонировка паркета</a></li>
        <li class="header-nav__dropdown"><a href="#!" class="link">Укладка</a>
          <ul>
            <li><a href="#!" class="link">Укладка паркетной доски</a></li>
            <li><a href="#!" class="link">Укладка паркета</a></li>
          </ul>
        </li>
        <li><a href="#!" class="link">установка плинтусов</a></li>
      </ul>
    </div>
  </div>
</header>