button
	outline: none
	border: none
	background: none
	cursor: pointer
	
.btn
	display: inline-block
	font-family: $sFont
	vertical-align: middle
	text-align: center
	white-space: nowrap
	text-decoration: none
	transition: $sMed
	outline: 0
	cursor: pointer
	font-size: 16px
	font-weight: 500
	text-transform: uppercase
	border-radius: 33px
	box-sizing: border-box
	border: none
	padding: 0 60px
	background-image: linear-gradient(to bottom, $yellow 0%, $orange 100%)
	height: 65px
	line-height: 65px
	letter-spacing: 4px
	color: #fff

	&:hover
		box-shadow: 5px 6px 45px 0px rgba(0,0,0,0.4)

	&-line
		background: transparent
		border: 4px solid #ea6637

	&-calc
		background-image: linear-gradient(to bottom, $orange 0%, #ea6637 100%)

	+to(480px)
		font-size: 13px
		letter-spacing: 2px
		padding: 0 30px
		

[disable]
	background: $lightBlue
	color: #8397ab
	&:hover
		background: $lightBlue
		color: #8397ab

#nav-icon1
	display: none
	width: 60px
	height: 45px
	position: relative
	transform: rotate(0deg) scale(.5)
	transition: .5s ease-in-out
	cursor: pointer

	+to(990px)
		display: block


#nav-icon1 span, #nav-icon3 span, #nav-icon4 span 
	display: block
	position: absolute
	height: 9px
	width: 100%
	background: #d3531a
	border-radius: 9px
	opacity: 1
	left: 0
	transform: rotate(0deg)
	transition: .25s ease-in-out


#nav-icon1 span:nth-child(1) 
  top: 0px

#nav-icon1 span:nth-child(2) 
  top: 18px

#nav-icon1 span:nth-child(3) 
  top: 36px

#nav-icon1.open span:nth-child(1) 
  top: 18px  
  transform: rotate(135deg)

#nav-icon1.open span:nth-child(2) 
  opacity: 0
  left: -60px

#nav-icon1.open span:nth-child(3) 
  top: 18px  
  transform: rotate(-135deg)
