$inputHeight: 65px
$lh: 64px
$inputPadding: 23px
$inputColor: #4c4c4c

textarea
  width: 100%
  height: 100%
  min-height: 200px
  outline: none
  border-radius: 33px
  padding: 20px 50px
  font-size: rem(18px)
  color: $baseTxt

  +placeholder
    font-family: $sFont
    font-size: 18px
    font-weight: 400
    color: $baseTxt
    letter-spacing: .5px   

input
  width: 100%
  font-family: $sFont
  height: $inputHeight
  outline: none
  padding: 0 $inputPadding
  padding-left: 60px
  font-size: rem(18px)
  transition: $sMed
  font-weight: 400
  border-radius: 33px
  border: none
  color: $baseTxt

  +placeholder
    font-family: $sFont
    font-size: 18px
    font-weight: 400
    color: $baseTxt
    letter-spacing: .5px

  &.h54
    font-size: 13px
    height: 54px
    line-height: 54px
    border: 2px solid $borderColor
    +placeholder
      font-size: 13px

.input
  &-wrap
    position: relative
    margin-bottom: 23px

  &-name
    background: url('../images/icons/user.png') 20px center no-repeat, #fff

  &-phone
    background: url('../images/icons/phone.png') 20px center no-repeat, #fff

  &-build
    background: url('../images/icons/home.png') 20px center no-repeat, #fff

  &-mail
    background: url('../images/icons/mail.png') 20px center no-repeat, #fff

  &-date
    background: url('../images/icons/calendar.png') 20px center no-repeat, #fff
  
  &-textarea
    background: url('../images/icons/message.png') 20px 22px no-repeat, #fff
  
.jq-selectbox
  @extend input
  background: #fff
  padding: 0
  cursor: pointer

  &__select
    width: 100%
    height: 100%
    padding: 0 23px
    padding-left: 60px
    display: flex
    border-radius: 33px
    align-items: center
    position: relative

    &:after
      content: url('../images/icons/select-arrow.png')
      position: absolute
      right: 25px
      top: 50%
      transform: translateY(-50%)

  &__dropdown
    border-radius: 33px
    background: #fff
    width: 100%
    text-align: left
    cursor: pointer
    ul
      padding: 25px 0
    li
      padding-left: 40px
      margin-bottom: 15px
      transition: .3s
      &:last-child
        margin-bottom: 0
      &:first-child
        display: none

      &:hover
        color: $orange

.form-info-msg
  max-width: 350px
  font-size: 15px
  text-align: center
  margin: 20px auto 20px

.radio
  display: flex
  cursor: pointer
  input
    display: none
    &:checked + small
      &:after
        opacity: 1

  small
    display: block
    width: 22px
    height: 22px
    border-radius: 50%
    border: 1px solid #6C7279
    position: relative
    margin-right: 10px
    flex-shrink: 0
    &:after
      content: ''
      position: absolute
      width: 12px
      height: 12px
      top: 50%
      left: 50%
      opacity: 0
      border-radius: 50%
      transform: translate(-50%, -50%)
      background: $orange
      transition: .3s