.link
  color: inherit
  text-decoration: none
  border-bottom: 2px solid transparent
  transition: .3s
  outline: none  
  &:hover, &.active
    color: $orange
  &-border    
    border-bottom-color: rgba(#4b4b4b, .2)
    &:hover
      border-bottom-color: transparent

  &-arrow
    position: relative
    padding-bottom: 1px
    border-bottom: 2px dotted $orange
    text-transform: uppercase
    font-weight: 700
    font-size: 16px
    color: $orange
    &:after
      content: '\E003'
      font-family: 'iconic'
      position: absolute
      right: -16px
      top: 4px
      font-size: 12px
    &:hover
      border-bottom-color: $yellow
      color: $yellow