h1,.h1
	font-family: $baseFont
	font-size: rem(48px)
	font-weight: 700
	line-height: 1.2
	color: $baseTxt
	position: relative
	padding-bottom: 20px
	margin-bottom: 20px
	+to(800px)
		font-size: rem(35px)
	+to(560px)
		font-size: rem(30px)

	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 73px
		height: 4px
		background: $yellow

h2,.h2
	font-family: $baseFont
	font-size: rem(36px)
	font-weight: 700
	line-height: 1.2
	color: $baseTxt
	padding-bottom: 20px
	margin-bottom: 20px
	position: relative
	+to(800px)
		font-size: rem(28px)
	+to(560px)
		font-size: rem(24px)

	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 73px
		height: 4px
		background: $yellow
		transition: .4s

h3,.h3
	font-family: $baseFont
	font-size: rem(24px)
	font-weight: 700
	line-height: 1
	color: $baseTxt
	margin-bottom: 50px
	+to(800px)
		font-size: rem(20px)
	+to(560px)
		font-size: rem(20px)

.s-font
	font-family: $sFont

+to(1150px)
	.decor-title
		&.fz70
			font-size: rem(55px)
		&.fz68
			font-size: rem(55px)

+to(560px)
	.decor-title
		&.fz70
			font-size: rem(45px)
		&.fz68
			font-size: rem(45px)


*
	line-height: 1.3

p
	margin-bottom: 25px
	line-height: 1.75

/* Короткие классы для форматирования текста */
.fz12
	font-size: 12px
.fz13
	font-size: 13px
.fz18
	font-size: 18px
.fz23
	font-size: 23px
	+to($break_xxs)
		font-size: rem(18px)

.txt-white
	color: #fff

.txt-orange
	color: $orange

.txt-yellow
	color: $yellow

.fw100
	font-weight: 100

.fw300
	font-weight: 300

.fw700
	font-weight: 700

.fw900
	font-weight: 900

.upper
	text-transform: uppercase

.text-center
	text-align: center

.text-left
	text-align: left

.text-right
	text-align: right

.mb0
	margin-bottom: 0
.mr0
	margin-right: 0
.ml0
	margin-left: 0
.mt0
	margin-top: 0