include ../_mixins

.works-item.w50
  .work-slider
    img(src="../../images/userfiles/work-5.JPG", alt="")
    img(src="../../images/userfiles/work-6.JPG", alt="")
.works-item.w50
  .work-slider
    img(src="../../images/userfiles/work-7.JPG", alt="")
    img(src="../../images/userfiles/work-8.JPG", alt="")