.letters.bg-pattern
  .wrapper
    .h1 Благодарственные письма
    .js-letters-slider
      .letter
        a(data-fancybox="gallery" href="../../images/userfiles/certificate.png").link.image-popup-no-margins
          img(src="../../images/userfiles/certificate.png", alt="")
          .letter-border
      .letter
        a(data-fancybox="gallery" href="../../images/userfiles/certificate.png").link.image-popup-no-margins
          img(src="../../images/userfiles/certificate.png", alt="")
          .letter-border
      .letter
        a(data-fancybox="gallery" href="../../images/userfiles/certificate.png").link.image-popup-no-margins
          img(src="../../images/userfiles/certificate.png", alt="")
          .letter-border
      .letter
        a(data-fancybox="gallery" href="../../images/userfiles/certificate.png").link.image-popup-no-margins
          img(src="../../images/userfiles/certificate.png", alt="")
          .letter-border