include ../_mixins

#popup-form.popup.js-popup
  .popup-inner
    .popup-close.js-popup-close
      +icon('cross')
    .promo-form.popup-form
      .promo-form__block
        .promo-form__line
        .h2 Закажите
        .promo-form__title Оставьте контактные данные и мы свяжемся с Вами!
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваш телефон").js-phone.input-phone
        .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
        button.btn Отправить

#popup-success.popup.js-popup(class=typeof popupSuccess === "undefined" ? "" : "popup-show")
  .popup-inner
    .promo-form__line
    .popup-close.js-popup-close
      +icon('cross')
    .popup-success__content
      .popup-success
        .popup-success__title Спасибо!
        strong Ваша заявка отправлена
        span Наш сотрудник свяжется <br/> с Вами в ближайшее время

#popup-success-review.popup.js-popup(class=typeof popupSuccess === "undefined" ? "" : "popup-show")
  .popup-inner
    .promo-form__line
    .popup-close.js-popup-close
      +icon('cross')
    .popup-success__content
      .popup-success
        .popup-success__title Благодарим за Ваш отзыв!
        strong Совсем скоро он появиться на сайте.