.articles
  padding: 80px 0

  &-item
    display: flex
    font-family: $sFont
    margin-bottom: 50px
    p
      margin-bottom: 15px

  &-list
    margin-top: 45px

  &-img
    max-width: 400px
    flex-shrink: 0
    margin-right: 20px    

    img
      box-shadow: 5px 6px 54px 0px rgba(0,0,0,0.3)

  &-date
    font-size: 18px
    font-weight: 700
    margin-bottom: 18px

  .h3
    margin-bottom: 18px
    text-transform: uppercase

  +to(800px)
    padding: 45px 0
    &-item
      flex-direction: column
    &-img
      max-width: 100%
      margin-bottom: 25px
      margin-right: 0
      img
        width: 100%