.page-index
  .promo-form
    +shift-left(5)

  +to(600px)
    .promo
      height: auto!important

  .clients
    background: transparent!important
    padding: 0

.promo
  position: relative
  height: 725px
  z-index: 2

  &-flex
    display: flex
    align-items: center

  &-item
    height: 725px
    position: relative
    z-index: 2

  .js-promo-slider
    height: 100%

  &-slider
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    .h2, .h3
      opacity: 0
      visibility: hidden
      transform: translateX(30px)
      transition: .7s
    .h2
      transition-delay: .3s
    .h3
      transition-delay: .5s

    .slick-active
      .h2,.h3
        transform: translateX(0)
        opacity: 1
        visibility: visible

    .promo-item:hover
      .h2:after
        width: 150px
      .h2
        text-shadow: 4px 4px 7px rgba(150, 150, 150, 1)

      .promo-content::after
        transform: scale(1.1)

    .slick-prev
      left: 20px
      z-index: 9
    .slick-next
      right: 20px
      z-index: 9

    +to(1450px)
      .slick-prev,
      .slick-next
        display: none!important


  .wrapper
    height: 100%
    position: relative

  &-inner
    display: flex
    align-items: center
    height: 100%

  &-content
    +size(5)
    padding-right: 50px
    position: relative
    &:after
      content: ''
      display: block
      width: 210px
      height: 210px
      border: 15px solid rgba($baseTxt, .05)
      position: absolute
      top: -45px
      left: -70px
      transition: .7s
    .s-font
      font-weight: 500  


  &-bg
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: -1

  &-img
    position: absolute
    right: -125px
    top: 20px
    z-index: -1

  &-form
    position: relative
    z-index: 2
    padding-top: 70px    
    +size(7)

    &__block
      position: relative
      text-align: center
      width: 400px
      flex-shrink: 0
      padding: 50px 50px 75px
      color: #fff
      background: $brown

    &__title
      font-size: 36px
      text-transform: uppercase
      font-size: 38px
      font-weight: 700
      margin-bottom: 20px

    .h2
      font-style: italic
      font-family: $sFont
      color: #fff
      font-weight: 400
      padding-bottom: 15px
      margin-bottom: 15px
      &:after
        left: 50%
        transform: translateX(-50%)

    &__line
      position: absolute
      top: 30px
      bottom: -30px
      left: 40px
      right: -40px
      border: 15px solid $yellow
      z-index: -1

  .btn
    width: 100%

  .slick-dots
    margin-left: 20px
    justify-content: flex-start
    margin-top: -90px
    display: none!important
    li
      margin: 0 7px
    +to(1450px)
      display: flex!important

  +to(1000px)
    &-img
      display: none

    &-form__block
      width: 100%
      padding-left: 32px
      padding-right: 32px

    &-content:after
      left: 25px

    &-form__title
      font-size: 30px

  +to(600px)
    height: 430px!important
    .wrapper
      display: flex
      align-items: center
    &-form
      display: none
    &-slider
      position: static

    &-item
      height: 430px

    &-content
      width: 100%!important


.advantage
  padding: 130px 0
  background: $bgGray

  .flex-row
    margin-top: 60px
    margin-left: -20px
    margin-right: -20px

  &-item
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding: 0 20px
    

    .h3
      margin: 25px 0 20px

    p
      font-family: $sFont

  &-icon
    width: 230px
    height: 230px
    border: 4px solid $yellow
    border-radius: 50%    
    padding: 14px
    transition: .7s    

    &.visible
      transform: rotate(360deg)

    &__inner
      display: flex
      align-items: center
      justify-content: center
      background: #fff
      width: 100%
      height: 100%
      border-radius: 50%

  +to(800px)
    padding: 60px 0
    .flex-row
      flex-wrap: wrap
      justify-content: center
    &-item
      width: 50%
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0

  +to(560px)
    &-item
      width: 100%

.about
  padding: 70px 0
  background: url('../images/userfiles/about-bg.jpg') center center / cover no-repeat

  &-block
    margin-bottom: 40px
    .flex-row
      padding-top: 50px
      font-family: $sFont

    &__text
      padding-right: 40px

    &__img
      margin-top: -30px
      position: relative
      z-index: 2
      &:after
        content: ''
        display: block
        border: 50px solid $yellow
        position: absolute
        top: 28px
        left: 28px
        right: -70px
        bottom: -70px
        z-index: -1

      img
        box-shadow: 5px 6px 54px 0px rgba(0,0,0,0.7)

    +to(950px)
      .flex-row
        flex-direction: column
      .w50
        width: 100%
        &:last-child
          order: -1

      &__text
        padding-right: 0
      &__img
        margin-bottom: 50px
        &:after
          display: none

.clients
  padding: 70px 0 70px
  &-text
    margin: 25px 0
    font-family: $sFont

  &-item
    padding: 0 10px
    display: flex
    justify-content: center
    align-items: center

    +to(700px)
      width: calc(100% / 3)
      margin-bottom: 25px
    +to(480px)
      width: 50%
      margin-bottom: 25px

.works
  padding: 75px 0 100px
  background: url('../images/userfiles/about-bg.jpg') center center / cover no-repeat
  &-wrap
    margin: 55px -12px 75px
  &-item
    padding: 0 12px
    margin-bottom: 22px
    +to(700px)
      width: 100%

  +to(480px)
    padding: 40px 0 60px
    &-wrap
      margin-bottom: 25px


.slick-slide
  outline: none
.slick-arrow
  width: 58px
  height: 58px
  border: 4px solid $yellow
  position: absolute
  top: 50%
  transition: .3s
  transform: translateY(-50%)

  &:hover
    opacity: .7

.slick-prev
  left: -75px
  &:after
    content: url('../images/icons/slider-prev.png')
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    

.slick-next
  right: -75px
  &:after
    content: url('../images/icons/slider-next.png')
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.slick-dots
  display: flex
  justify-content: center
  margin-top: 45px
  li
    width: 24px
    height: 24px
    border-radius: 50%
    border: 4px solid $yellow
    margin: 0 12px
    position: relative
    cursor: pointer
    button
      display: none

    &:after
      content: ''
      position: absolute
      width: 12px
      height: 12px
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      background-image: linear-gradient(-221deg, $yellow 0%, $orange 100%)
      display: none

    &.slick-active
      &:after
        display: block

.letters
  padding: 75px 0 80px
  
  .slick-track
    padding-top: 40px
    padding-bottom: 40px

  .js-letters-slider
    margin-top: 60px

  +to(1300px)
    .slick-arrow
      display: none!important

  +to(480px)
    .slick-dots
      margin-top: 20px
    .js-letters-slider
      margin-top: 30px

.letter
  display: flex!important
  justify-content: center
  align-items: center  
  &-border
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: url('../images/userfiles/border.png') center center / cover no-repeat
    z-index: -1
  a
    display: block
    padding: 30px 50px 50px 30px
    position: relative
    z-index: 2
    &:after
      content: ''
      position: absolute
      top: 5.4%
      right: 12%
      left: 7%
      bottom: 9%
      opacity: 0
      background-image: linear-gradient(-224deg, $yellow 0%, $orange 100%)
      transition: .5s
    &:before
      content: url('../images/icons/zoom.png')
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 2
      opacity: 0
      transition: .5s
    &:hover
      &:after
        opacity: .75
      &:before
        opacity: 1

.order-form
  padding: 115px 0 160px
  position: relative
  z-index: 2
  color: #fff

  &__bg
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    left: 0
    bottom: 0
    object-fit: cover
    z-index: -1

  &__content
    text-align: center
    position: relative

    &:after
      content: ''
      position: absolute
      top: -50px
      left: 50%
      transform: translateX(-50%)
      width: 400px
      height: 440px
      border: 15px solid $yellow
      z-index: -1

  &__title
    font-size: 80px
    text-transform: uppercase
    color: #fff
    background: url('../../images/userfiles/mask-text.png') center center no-repeat, #fff
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  &__subtitle
    font-size: 38px
    text-transform: uppercase

  &__undertitle
    font-size: 36px
    font-family: $sFont
    color: #fff
    font-style: italic
    font-weight: 400
    padding-bottom: 15px
    margin-bottom: 15px
    &:after
      left: 50%
      transform: translateX(-50%)

  form
    width: 100%
    margin-top: 40px
    .input-wrap, button
      flex-grow: 1

    .input-wrap
      &:nth-child(2)
        margin: 0 20px

  +to(770px)
    padding: 95px 0 80px
    .flex-row
      flex-direction: column
    .input-wrap
      margin-left: 0!important
      margin-right: 0!important

    .btn
      margin-top: 23px

    &__title
      font-size: 65px
    &__subtitle
      font-size: 28px
    &__undertitle
      font-size: 26px

  +to(480px)
    &__title
      font-size: 45px
      margin-bottom: 20px
    &__subtitle
      font-size: 18px
    &__undertitle
      font-size: 20px

    &__content:after
      width: 90%
      height: 315px