.page-recovery
  .promo-img
    right: -350px

  .tariff-flex
    margin-top: 140px

  .tariff
    padding-bottom: 0

.tariff
  padding: 70px 0
  background: url('../images/userfiles/pattern.png') center center / cover no-repeat
  &-item
    width: calc(100% / 3)
    padding: 10px
    transition: .5s
    cursor: pointer
    position: relative
    &.w50
      width: 50%
    &.w100
      width: 100%
    &:hover
      transform: scale(1.05)
      z-index: 2
      .tariff-item__inner
        box-shadow: 0px 10px 40px 0px rgba(234,102,55,.4)
    &__inner
      border-radius: 5px
      background: $bgGray
      padding: 30px 17px
      border: 1px solid $orange
      height: 100%
      display: flex
      flex-direction: column
      transition: .5s

    li
      position: relative
      margin-bottom: 15px
      padding-left: 25px
      &:after
        content: url('../images/icons/check.png')
        position: absolute
        top: 0
        left: 0

  &-flex
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 70px
    &.j-flex-start
      justify-content: flex-start

  &-title
    margin-bottom: 15px
    font-size: 36px
    text-transform: uppercase
    font-weight: 700

  .h3
    margin: 25px 0
    text-transform: uppercase

  &-price
    font-size: 36px
    font-weight: 700
    color: $orange
    margin-top: 30px
    flex-grow: 1
    display: flex
    align-items: flex-end

  +to(1200px)
    &-title
      font-size: 28px

  +to(900px)
    &-item
      width: 50%
    &-flex
      margin-top: 45px

  +to(650px)
    padding: 35px 0
    &-item
      width: 100%
      padding-left: 0
      padding-right: 0
    &-title
      font-size: 24px
      margin-bottom: 0
    &-price
      font-size: 28px

.calculator
  margin-top: 35px
  margin-bottom: -240px
  &-block
    background: url(../images/icons/calc-bg.png) right bottom no-repeat, $yellow
    padding: 50px 20px 60px
    color: #fff
    text-align: center
    z-index: 2

    &__wrap
      position: relative
      z-index: 2

    &--border
      position: absolute
      border: 15px solid $orange
      top: 40px
      right: -40px
      left: 40px
      bottom: -40px
      z-index: -1

  &-title
    font-size: 60px
    font-weight: 700
    text-transform: uppercase
    padding-bottom: 25px
    margin-bottom: 27px
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0
      transform: translateX(-50%)
      left: 50%
      width: 73px
      height: 4px
      background: #ea6637

  .btn-calc
    width: 400px
    box-shadow: 0px 10px 53px 0px rgba(234,102,55,.6)

  &-form
    .input-wrap, button
      flex-grow: 1
    .input-wrap
      margin-right: 20px

    .jq-selectbox
      &__select
        background: url('../images/icons/setting.png') 20px center no-repeat, #fff

  .calc-error
    display: none
    font-family: $sFont
    font-size: 30px
    font-style: italic
    margin: 15px 0 25px


  .calc-result
    display: none
    font-family: $sFont
    font-size: 30px
    font-style: italic
    margin: 15px 0 25px

    &__value
      font-size: 60px
      font-weight: 700
      font-family: $baseFont
      font-style: normal
      margin-top: 10px

      &:after
        content: 'руб'
        margin-left: 10px

  +to(850px)
    .flex-row
      flex-direction: column
    .w33
      width: 100%

  +to(600px)
    &-title
      font-size: 40px

    .calc-error,
    .calc-result
      font-size: 23px

    .calc-result__value
      font-size: 45px

  +to(480px)
    .btn-calc
      width: 100%
    &-block--border
      display: none
    .wrapper
      padding: 0
    &-title
      font-size: 33px

    .calc-error,
    .calc-result
      font-size: 23px

    .calc-result__value
      font-size: 45px

.recovery-adv
  padding: 335px 0 80px
  color: #fff
  background: url('../images/userfiles/recovery-img-2.jpg') center center / cover no-repeat

  .h1
    margin-bottom: 50px

  .advantage-item
    margin-bottom: 20px

  +to(480px)
    padding: 260px 0 60px

.work-steps
  padding: 80px 0 30px

  &__title
    margin-bottom: 70px

  &__number
    font-size: 48px
    font-weight: 700
    color: $yellow
    margin-right: 30px

  .advantage-item
    margin-bottom: 80px
    .flex-row
      margin-bottom: 25px
      margin-left: -80px

  +to(1100px)
    .advantage-item
      .flex-row
        flex-direction: column
        margin-left: 0
    &__number
      margin-right: 0
      margin-bottom: 20px

  +to(700px)
    .advantage-item
      margin-bottom: 30px

  +to(480px)
    padding: 40px 0 15px
    .advantage-item
      p
        margin-bottom: 0

.info-about
  padding: 75px 0 100px
  font-family: $sFont

  .h1
    position: relative
    z-index: 2

  &__text
    margin-top: 60px
    p
      line-height: 1.55

  &__img
    float: right
    position: relative
    margin-left: 30px
    margin-top: -40px

    img
      position: relative
      z-index: 2
      box-shadow: 5px 6px 54px 0px rgba(0, 0, 0, 0.7)

    &--border
      position: absolute
      border: 50px solid $yellow
      top: -70px
      right: -70px
      left: 27px
      bottom: 27px

  &__adv
    text-align: center
    margin-top: 50px
    .flex-col
      padding: 0 15px
    strong
      font-family: $baseFont
      display: block
      font-size: 100px
      color: $orange
      padding-bottom: 20px
      margin-bottom: 20px
      position: relative
      &:after
        content: '%'
      &:before
        content: ''
        position: absolute
        left: 50%
        bottom: 0
        transform: translateX(-50%)
        width: 40px
        height: 4px
        background: $orange
        

    span
      font-family: $sFont
      font-weight: 500

  +to(1000px)
    &__img
      float: none
      margin-top: 10px
      margin-bottom: 40px
      margin-left: 0
      &--border
        display: none

    &__adv
      .w33
        width: 100%
        margin-bottom: 25px

  +to(480px)
    padding: 35px 0 35px
    &__adv
      strong
        font-size: 70px
