.reviews
  font-family: $sFont
  padding: 50px 0
  &-slider
    margin: 30px -10px
    .slick-arrow
      top: 28%
  &-slide
    padding: 0 10px
    &__title
      margin: 8px 0
    &__img
      height: 220px
      position: relative
      margin-bottom: 20px

      .thumb
        width: 100%
        height: 100%
        object-fit: cover

      .play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2

  &-list
    flex-wrap: wrap
    margin: 50px 0

  &-item
    margin-bottom: 50px
    padding-right: 30px
    &__text
      margin: 20px 0
      line-height: 1.3    
    &__author
      font-weight: 700
      margin-bottom: 5px

    +to(650px)
      width: 100%

  &__load
    text-align: center
    .btn
      background: none
      border: 3px solid #FBC338
      color: #000
      max-width: 340px
      width: 100%
      &:hover
        box-shadow: none

  &-form
    margin: 50px 0
    &__inner
      +to(850px)
        display: block
    &__col
      width: 50%
      margin-bottom: 25px
      &:first-child
        padding-right: 20px
      &:last-child
        .input-wrap
          width: 100%
          height: 100%
      &-wrap
        width: 100%
        height: 100%

      +to(850px)
        width: 100%
        padding-right: 0!important

    &__submit
      +to(560px)
        width: 100%

    input,
    textarea
      background: #FAF8F5
      border: 1px solid #E5E5E5
      z-index: -1
      +to(560px)
        font-size: 16px
        +placeholder
          font-size: 15px
    .input  
      &-wrap
        &:last-child
          margin-bottom: 0    
      &-name
        background: url('../images/icons/user.png') 20px center no-repeat, #FAF8F5

      &-phone
        background: url('../images/icons/phone.png') 20px center no-repeat, #FAF8F5 

      &-build
        background: url('../images/icons/home.png') 20px center no-repeat, #FAF8F5

      &-mail
        background: url('../images/icons/mail.png') 20px center no-repeat, #FAF8F5
      
      &-date
        background: url('../images/icons/calendar.png') 20px center no-repeat, #FAF8F5
      
      &-textarea
        background: url('../images/icons/message.png') 20px 22px no-repeat, #FAF8F5
    
    
    .w50:first-child
      padding-right: 20px

    +to(560px)
      &__inner
        .flex-row
          display: block
          .w50
            width: 100%
            padding-right: 0
            margin-bottom: 20px        

  &__radio
    margin: 30px 0

    +to(800px)
      width: 100%

    +to(480px)
      .flex-row
        display: block
        .w50
          margin-bottom: 20px
          width: 100%      

.mfp-fade.mfp-bg 
	opacity: 0
	-webkit-transition: all 0.15s ease-out 
	-moz-transition: all 0.15s ease-out 
	transition: all 0.15s ease-out

.mfp-fade.mfp-bg.mfp-ready 
	opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing 
	opacity: 0


.mfp-fade.mfp-wrap .mfp-content 
	opacity: 0
	-webkit-transition: all 0.15s ease-out 
	-moz-transition: all 0.15s ease-out 
	transition: all 0.15s ease-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content 
	opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content 
	opacity: 0
