.page-service
  .promo
    height: auto
    padding-top: 30px
  .promo-form
    width: 50%
    padding-top: 0
    margin-bottom: -60px
    margin-right: -50px
    &__block
      width: 100%

  .promo-content
    width: 50%

.services
  &-item
    margin-bottom: 55px
    align-items: flex-start
  &-block
    padding: 85px 0
    .slick-arrow
      border: none
      bottom: -18px
      top: auto
      transform: none
      width: auto
    .slick-prev
      left: 10px
    .slick-next
      right: 10px
    .slick-dots
      margin-top: 25px

    &__item
      margin-bottom: 50px
      p
        font-family: $sFont

    &__slider
      margin-top: 50px
      .slide
        padding: 0 10px 15px
        img
          box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.3)

  &-slider
    width: 400px
    flex-shrink: 0
    margin-right: 25px

  &-content
    padding-top: 45px
    .h3
      margin-bottom: 23px
    &__text
      font-family: $sFont
    .btn
      margin-top: 23px

  &-tariff
    padding-top: 0
    .tariff-price
      color: #000
      font-size: 28px
    &__btn
      margin-top: 25px
    .tariff-item
      width: 100%
      &:hover
        transform: none
        box-shadow: none
      &__inner
        font-family: $sFont
        background: none
        border: none
        box-shadow: none!important
        padding: 0

    .flex-row
      flex-wrap: wrap

    .w50
      +to(700px)
        width: 100%      

  &-price
    font-size: 24px
    font-weight: 700
    strong
      font-size: 24px
      text-transform: uppercase
      margin-right: 10px

    &__old
      text-decoration: line-through
      margin-right: 5px
  
  &-steps
    font-family: $sFont
    flex-wrap: wrap
    margin-top: 40px

    &__item
      margin-bottom: 40px
      padding-right: 40px
      &.w50
        +to(700px)
          width: 100%
      &.w33
        +to(900px)
          width: 50%
        +to(700px)
          width: 100%

    &__text
      line-height: 1.5

    &__title
      font-size: 22px          
      margin-bottom: 20px
      font-weight: bold
      .txt-orange
        font-family: $baseFont
        white-space: nowrap
        margin-right: 10px
        text-transform: uppercase

  +to(800px)
    &-item
      flex-direction: column      
    &-slider
      margin-right: 0
      width: 100%
      img
        width: 100%

    &-block
      padding: 35px 0

    &-steps__item
      padding-right: 0

  +to(560px)
    &-block__slider
      .slick-arrow
        display: none

  +to(480px)
    &-block
      .btn
        width: 100%



.colors
  &__list
    flex-wrap: wrap
    margin: 0 -10px    

  &__title
    font-family: $sFont
    font-weight: 700
    font-size: 24px
    margin-bottom: 30px
    text-transform: uppercase

  &__item
    padding: 0 10px
    width: calc(100% / 6)
    margin-bottom: 30px

  &__name
    font-weight: 500
    font-family: $sFont
    margin-top: 8px

  &-describe
    margin: 35px 0
    &__img
      flex-shrink: 0
      margin-right: 20px

    &__text
      padding-top: 30px
      font-family: $sFont
      p
        line-height: 1.2

    &__title
      font-size: 24px
      font-weight: 700
      margin-bottom: 15px    
    

  +to(700px)
    &__item
      width: 25%

  +to(560px)
    &-describe
      display: block
    &__item
      width: 50%

.oil-steps
  .services-steps__text
    position: relative
    padding-left: 25px
    font-weight: 700
    font-size: 22px
    line-height: 1.15
    &:before
      content: '?'
      color: $orange
      font-weight: 700
      font-family: $sFont
      font-size: 25px
      margin-right: 10px
      position: absolute
      left: 0
      top: -3px


.oil__list
  max-width: 1054px
  .colors__item
    width: calc(100% / 5)
    +to(700px)
      width: 25%

    +to(560px)
      width: 50%