.page-works
  .works
    padding-bottom: 0

.works-category
  display: flex
  flex-wrap: wrap
  &__link
    display: block
    height: 42px
    line-height: 38px
    white-space: nowrap
    border-radius: 21px
    padding: 0 27px
    font-size: 16px
    border: 3px solid $orange
    margin-right: 10px
    margin-bottom: 10px
    font-family: $sFont
    text-transform: uppercase
    font-weight: 500

    &.active, &:hover
      background: $orange
      color: #fff

  +to(480px)
    &__link
      font-size: 13px