.footer
  padding: 70px 0 80px
  &-menu
    display: flex
    justify-content: space-between
    flex-grow: 1
    font-family: $sFont
    font-weight: 500
    text-transform: uppercase
    font-size: 15px
    ul
      margin-right: 50px
      &:last-child
        margin-right: 0
        
    li
      margin-bottom: 20px
  &-logo
    margin-right: 100px
    display: flex
    flex-direction: column
    align-items: center

  .parket-infodata
    margin-top: 30px

  +to(860px)
    padding: 35px 0 50px
    &-inner
      flex-direction: column
      // align-items: center

    &-menu
      margin: 40px 0

    &-logo
      display: flex
      justify-content: space-between
      margin-right: 0

    .parket-infodata
      margin-top: 30px
      margin-left: 0

  +to(560px)
    &-inner
      align-items: center
    &-menu
      flex-direction: column
      text-align: center
      margin-bottom: 0
      ul
        margin-right: 0

    .parket-infodata
      margin-left: 0
      margin-top: 30px

    &-logo
      flex-direction: column
      align-items: center

  +to(480px)    
    &-menu ul
      font-size: 13px
      &:first-child
        margin-right: 25px