.header
  position: relative
  z-index: 3
  &-inner
    display: flex
    align-items: center
    background: #fff
    justify-content: space-between
    padding: 32px 0

  &-menu
    display: flex
    font-size: 20px
    font-weight: 500
    li
      position: relative
      padding-left: 15px
      margin-right: 20px
      &:last-child
        margin-right: 0
      &:before
        content: ''
        position: absolute
        width: 7px
        height: 7px
        border-radius: 50%
        background: $orange
        top: 7px
        left: 0

  &.fixed
    margin-bottom: 56px
    .header-nav
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 99

  &-nav
    background: $yellow    

    ul
      display: flex
      justify-content: space-between
      font-size: 14px
      font-family: $sFont
      text-transform: uppercase
      font-weight: 500
      li
        flex-grow: 1
        position: relative
    a
      display: block
      text-align: center
      padding: 20px 17px
      transition: .3s
      &:hover
        color: #fff
        background: $orange

    &__dropdown
      a
        padding-right: 25px
      &:after
        content: ''
        +triangle(bottom, 5px, 5px, $baseTxt)
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 14px
        margin-top: -2px        

      ul
        background: $yellow
        position: absolute
        top: 100%
        left: 0
        flex-direction: column
        min-width: 250px
        transition: .3s
        visibility: hidden
        opacity: 0
        a
          text-align: left
          font-size: 13px
          padding: 12px 25px
      &:hover, &.show
        ul
          visibility: visible
          opacity: 1
        & > .link
          background: $orange
          color: #fff
        &:after
          +triangle(bottom, 5px, 5px, #fff)

  +to(1250px)
    &-menu
      font-size: 16px
      li
        margin-right: 15px
    &-nav
      a
        font-size: 12px!important
        padding: 20px 12px
      &__dropdown:after
        right: 0

  +to(1000px)
    &-inner
      flex-wrap: wrap
    &-menu
      justify-content: space-between
      margin-top: 30px
      width: 100%
      order: 3
      text-align: center
      li:before
        top: 5px

    &-logo
      order: 1
    .parket-infodata
      order: 2     

  +to(990px)    
    &-nav
      position: relative
      ul
        display: none
        position: absolute
        left: 0
        right: 0
        top: 100%
        flex-direction: column
        background: #fff

      &__dropdown
        &:after
          right: 30px
          top: 25px
          transform: none
        ul
          background: #ececec
          display: none
          position: static
          visibility: visible
          opacity: 1
          text-align: center
          a
            text-align: center

  +to(650px)
    &-menu
      justify-content: center
      flex-wrap: wrap
      li
        margin-bottom: 15px

  +to(480px)
    &-inner
      flex-direction: column
      align-items: center
      padding: 15px 0

    .parket-infodata
      margin-top: 20px


.parket-infodata
  font-family: $sFont
  white-space: nowrap
  li
    position: relative
    padding-left: 30px
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &__whatsapp
    font-size: 21px
    font-weight: 700
    &:before
      content: url('../images/icons/whatsapp.svg')
      position: absolute
      top: 0
      width: 20px
      height: 20px
      left: -2px

  &__phone
    font-size: 21px
    font-weight: 700
    &:before
      content: url('../images/icons/phone.png')
      position: absolute
      top: 1px
      width: 20px
      height: 20px
      left: -2px

  &__mail
    font-weight: 500
    &:before
      content: url('../images/icons/mail.png')
      position: absolute
      top: 0
      left: 0

  &__call
    font-size: 16px
    font-weight: 700
    text-transform: uppercase