
html, :root
  font-size: $baseRem
  overflow-x: hidden

body
  font-family: $baseFont
  font-size: $baseRem
  color: $baseTxt
  min-width: 320px
  padding: 0
  margin: 0
  overflow-x: hidden

  +to($break_xxs)
    font-size: rem(14px)

.wrapper
  max-width: 1240px
  box-sizing: content-box
  margin: 0 auto
  padding: 0 30px

  +to(1100px)
    padding: 0 20px

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  background: #fff


.main
  flex-grow: 1

.svg-sprite
  display: none

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -moz-tap-highlight-color: rgba(0, 0, 0, 0)
  box-sizing: border-box

img
  max-width: 100%

@import header
@import footer

.rel
  position: relative

// flexbox short classes
  
.flex-row  
  display: flex
  &.wrap
    flex-wrap: wrap
  &.column
    flex-direction: column

.j-between
  justify-content: space-between
.j-center
  justify-content: center
.j-flex-start
  justify-content: flex-start
.j-flex-end
  justify-content: flex-end
.align-sb
  align-items: space-between
.align-f-start
  align-items: flex-start
.align-f-end
  align-items: flex-end
.align-center
  align-items: center
  
.w50
  width: 50%
.w33
  width: calc(100% / 3)
.w25
  width: 25%

.bg-gray
  background: $bgGray!important

.bg-pattern
  background: url('../images/userfiles/bg-pattern.jpg')

.twentytwenty-overlay:hover
  background: transparent!important

.twentytwenty-before-label,
.twentytwenty-after-label
  opacity: 1!important
  &:before
    top: 4px!important
    padding: 0 13px!important
    line-height: 28px!important
    margin-top: 0!important
    background-image: linear-gradient(-268deg, $yellow 0%, $orange 100%)!important
    color: #fff!important
    font-size: 20px!important
    font-family: $baseFont!important
    font-style: italic!important
    text-transform: uppercase

.twentytwenty-before-label
  left: 4px!important
.twentytwenty-after-label
  right: 4px!important

.twentytwenty-handle
  border: none!important
  width: 48px!important
  height: 48px!important
  background-image: linear-gradient(-227deg, $yellow 0%, $orange 100%)

  &:before,
  &:after
    background: $yellow!important
    box-shadow: none!important


.rotate
  transition: 1s
  &.visible
    transform: rotate(360deg)

.translate
  transition: 1s
  transform: translateX(80px)
  opacity: 0

  &.visible
    opacity: 1
    transform: translateX(0)

.translate-up
  transition: 1s
  transform: translateY(80px)
  opacity: 0

  &.visible
    opacity: 1
    transform: translateY(0)


ul.list
  margin: 30px 0
  li
    position: relative
    padding-left: 20px
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
    &:before
      content: ''
      background: $orange
      width: 6px
      height: 6px
      border-radius: 50%
      position: absolute
      left: 0
      top: 5px

ol
  margin: 25px 0
  padding-left: 20px
  list-style-type: decimal
  li
    margin-bottom: 15px    


table
  width: 100%
  margin: 25px 0
  tr
    border-bottom: 1px solid $orange
  td
    padding: 10px


.pricelist
  .tariff-item
    width: 100%
    transform: none!important
    margin-top: 60px

  table
    margin: 0
    .h3
      margin-top: 0