
<div class="clients bg-gray">
  <div class="wrapper">
    <div class="h1">Наши клиенты</div>
    <div class="clients-text">Мы работаем по принципу «работай на совесть» и отвечаем за результаты перед каждым клиентом. <br/> Нам уже доверяют такие организации как: </div>
    <div class="flex-row wrap">
      <div class="clients-item w25"><img src="../../images/icons/client-1.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-2.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-3.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-4.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-5.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-6.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-7.png" alt=""/></div>
      <div class="clients-item w25"><img src="../../images/icons/client-8.png" alt=""/></div>
    </div>
  </div>
</div>