
<div class="letters bg-pattern">
  <div class="wrapper">
    <div class="h1">Благодарственные письма</div>
    <div class="js-letters-slider">
      <div class="letter"><a data-fancybox="gallery" href="../../images/userfiles/certificate.png" class="link image-popup-no-margins"><img src="../../images/userfiles/certificate.png" alt=""/>
          <div class="letter-border"></div></a></div>
      <div class="letter"><a data-fancybox="gallery" href="../../images/userfiles/certificate.png" class="link image-popup-no-margins"><img src="../../images/userfiles/certificate.png" alt=""/>
          <div class="letter-border"></div></a></div>
      <div class="letter"><a data-fancybox="gallery" href="../../images/userfiles/certificate.png" class="link image-popup-no-margins"><img src="../../images/userfiles/certificate.png" alt=""/>
          <div class="letter-border"></div></a></div>
      <div class="letter"><a data-fancybox="gallery" href="../../images/userfiles/certificate.png" class="link image-popup-no-margins"><img src="../../images/userfiles/certificate.png" alt=""/>
          <div class="letter-border"></div></a></div>
    </div>
  </div>
</div>