.popup
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: flex
  visibility: hidden
  opacity: 0
  transition: .4s
  justify-content: center
  align-items: center
  z-index: 99
  background: rgba(#000,.7)

  .promo-form
    display: block!important
    width: 100%
    padding-top: 0
    margin: 0

    &__block
      width: 100%

    &__title
      margin-bottom: 30px

  &-inner
    transform: translateY(30px)
    position: relative
    transition: .4s
    max-width: 550px
    width: 100%

  &-close
    position: absolute
    right: 20px
    top: 20px
    z-index: 6
    cursor: pointer
    svg
      width: 25px
      height: 25px
      fill: $yellow

  &-title
    text-align: center

  .h3
    margin-bottom: 35px

  &-show
    opacity: 1
    visibility: visible
    .popup-inner
      transform: translateY(0)

  &-btn
    margin-top: 40px

  .btn
    width: 100%
    margin-right: 10px
    &:last-child
      margin-right: 0

  input
    width: 100%

  .input-wrap
    margin-bottom: 15px

  +to(600px)
    &-inner
      max-width: 90%

    .promo-form__title
      font-size: 22px

    .promo-form__block
      padding: 25px 25px 40px

    .promo-form__line
      right: -15px


.popup-success
  background: $brown
  color: #fff
  padding: 100px 50px
  display: flex
  flex-direction: column
  text-align: center
  position: relative
  z-index: 2
  &:before
    content: '\E007'
    font-family: 'iconic'
    font-size: 350px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    color: #7E5F4D
    z-index: -1

  &__content
    position: relative
    z-index: 2

  &__title
    font-size: 60px
    text-transform: uppercase
    font-weight: 700
    position: relative
    padding-bottom: 30px
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      width: 73px
      height: 4px
      background: $yellow

  strong
    font-size: 30px
    text-transform: uppercase
    margin: 25px 0
    font-weight: 700

  span
    font-style: italic
    font-family: $sFont
    font-size: 26px
    text-transform: uppercase
    margin-top: 80px

  +to(480px)
    padding: 65px 40px
    &__title
      font-size: 40px
    strong
      font-size: 25px

    &:before
      font-size: 260px

    span
      font-size: 17px
      margin-top: 30px