extends ../template/template
include ../_mixins


block vars
  - title = 'Услуга';
  - pageClass = ''

block content

  .articles.bg-pattern
    .wrapper
      .h1 Полезные статьи
      .articles-list
        .articles-item
          .articles-img: img(src="../../images/userfiles/artiles-img.jpg", alt="")
          .articles-content
            .articles-date.txt-orange 02.06.2018
            .h3 Заголовок новости
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            ul.list
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
            ol
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
              li Lorem ipsum dolor sit amet.
            table
              tr
                td 1
                td Lorem ipsum dolor sit amet.
                td Lorem, ipsum.
                td 45646
              tr
                td 2
                td Lorem ipsum dolor sit amet.
                td Lorem, ipsum.
                td 45646
              tr
                td 3
                td Lorem ipsum dolor sit amet.
                td Lorem, ipsum.
                td 45646

            
            a(href="#!").link.link-arrow.txt-orange читать полностью
        .articles-item
          .articles-img: img(src="../../images/userfiles/artiles-img.jpg", alt="")
          .articles-content
            .articles-date.txt-orange 02.06.2018
            .h3 Заголовок новости
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a(href="#!").link.link-arrow.txt-orange читать полностью
        .articles-item
          .articles-img: img(src="../../images/userfiles/artiles-img.jpg", alt="")
          .articles-content
            .articles-date.txt-orange 02.06.2018
            .h3 Заголовок новости
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a(href="#!").link.link-arrow.txt-orange читать полностью
        .articles-item
          .articles-img: img(src="../../images/userfiles/artiles-img.jpg", alt="")
          .articles-content
            .articles-date.txt-orange 02.06.2018
            .h3 Заголовок новости
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a(href="#!").link.link-arrow.txt-orange читать полностью
        .articles-item
          .articles-img: img(src="../../images/userfiles/artiles-img.jpg", alt="")
          .articles-content
            .articles-date.txt-orange 02.06.2018
            .h3 Заголовок новости
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a(href="#!").link.link-arrow.txt-orange читать полностью

  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваше телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам