extends ../template/template
include ../_mixins


block vars
  - title = 'Натуральное масло';
  - pageClass = ''

block content
  .promo
    img(src="http://prime-parket.ru/wp-content/uploads/2018/06/promo-slider-4.jpg", alt="").promo-bg
    .wrapper
      .promo-flex
        .promo-content
          .h2 Натуральное масло
          .h3.s-font Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .promo-form     
          .promo-form__block
            .promo-form__line
            .h2 Закажите
            .promo-form__title бесплатную консультацию технолога
            .input-wrap
              input(type="text" placeholder="Ваше имя").input-name
            .input-wrap
              input(type="text" placeholder="Ваше телефон").js-phone.input-phone
            .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
            button.btn Заказать

  .services-block.bg-pattern
    .wrapper
      .services-wrap
        .services-block__item
          .services-block__title.h1 Натуральное масло
          p В случае, если перед вами встал выбор – покрыть пол лаком или нанести масло, -просто дайте ответ для себя на несколько простых вопросов, и верное решение придет само собой:
          .oil-steps.services-steps.flex-row
            .services-steps__item.w50              
              .services-steps__text Вопрос о назначении помещения и уровне его влажности;
            .services-steps__item.w50              
              .services-steps__text Какова рабочая нагрузка осуществляется на пол в заданном помещении;
            .services-steps__item.w50              
              .services-steps__text Какое количество времени вы готовы тратить на уход за полом;
            .services-steps__item.w50              
              .services-steps__text Сильно ли важен для вас прямой контакт с покрытием пола.
        .services-block__item
          .services-block__title.h1 Чем отличается масло от лака?
          p Масло, в отличие от лака, впитывается в структуру дерева, позволяет ему дышать. Особенно оно рекомендуется для экзотических пород древесины, которых сама природа наделила высоким содержанием масел. Дерево, пропитанное маслом, становится прочнее, влагоустойчивее, долговечнее. А ходить по такому полу не только очень приятно, но и полезно для здоровья. Реставрацию покрытия с маслом можно проводить частями, в отличие от полов, покрытых лаком.         
          p При помощи нанесение масла очень легко можно добиться разнообразия цветовой гаммы вашего деревянного пола. Даже самые простые породы дерева теперь будут смотреться очень богато и эксклюзивно. 
          .colors__title Измените цвет ваших полов с помощью цветных масел!
          .oil__list.colors__list.flex-row
            .colors__item
              img(src="../../images/userfiles/oil-1.jpg", alt="")
              .colors__name Венге
            .colors__item
              img(src="../../images/userfiles/oil-2.jpg", alt="")
              .colors__name Белый
            .colors__item
              img(src="../../images/userfiles/oil-3.jpg", alt="")
              .colors__name Сукупира
            .colors__item
              img(src="../../images/userfiles/oil-4.jpg", alt="") 
              .colors__name Папирус
            .colors__item
              img(src="../../images/userfiles/oil-5.jpg", alt="")
              .colors__name Билинга
            .colors__item
              img(src="../../images/userfiles/oil-6.jpg", alt="")
              .colors__name Ятоба
            .colors__item
              img(src="../../images/userfiles/oil-7.jpg", alt="")
              .colors__name Камбала
            .colors__item
              img(src="../../images/userfiles/oil-8.jpg", alt="")
              .colors__name Черный
            .colors__item
              img(src="../../images/userfiles/oil-9.jpg", alt="")
              .colors__name Махагон
            .colors__item
              img(src="../../images/userfiles/oil-10.jpg", alt="")
              .colors__name Мореный дуб
          
        .services-block__slider.js-services-block__slider
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")

  .tariff.services-tariff
    .wrapper
      .h1 Натуральное масло
      
      .tariff-item
        .tariff-item__inner
          .flex-row
            .w50
              .h3 Наименование работ:
              ul
                li Циклевка пола
                li Циклевка пола в углах и по периметру
                li Шпаклевка щелей в 1 слоя
                li Шлифовка плоскошлифовальной машиной Трио
                li Нанесение БЕСЦВЕТНОГО масла
                li Обработка поверхности однодисковой машиной
                li Очистка пола производственным пылесосом
                li Вынос мусора
                li Доставка в пределах МКАД

            .w50
              .h3 Материалы:
              ul
                li Маска с воском для пола Lobasol Markant
                li Шпатлевка WS OptiFill
                li Валик Lobasol Microfaser 60-80
                li Бежевый пад loba spezial-pad
                li Малярная лента для изоляции Пады Loba Spezial-Pad
                li Мусорный мешок для отходов паркета
                li Шлифовальные материалы
        .tariff-price  Цена 790 руб/м² 
        a.btn.services-tariff__btn(href="#popup-form").js-popup-btn Заказать


  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваш телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам