extends ../template/template
include ../_mixins


block vars
  - title = 'Шлифовка паркетной доски';
  - pageClass = ''

block content
  .promo
    img(src="http://prime-parket.ru/wp-content/uploads/2018/06/promo-slider-4.jpg", alt="").promo-bg
    .wrapper
      .promo-flex
        .promo-content
          .h2 Шлифовка паркетной доски
        .promo-form     
          .promo-form__block
            .promo-form__line
            .h2 Закажите
            .promo-form__title бесплатную консультацию технолога
            .input-wrap
              input(type="text" placeholder="Ваше имя").input-name
            .input-wrap
              input(type="text" placeholder="Ваше телефон").js-phone.input-phone
            .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
            button.btn Заказать

  .services-block.bg-pattern
    .wrapper
      .services-wrap
        .services-block__item
          .services-block__title.h1 Шлифовка паркетной доски
          p Шлифовать паркетную  доску возможно и не столь сложно. Однако при шлифовке паркетной доски нужно учитывать определенные нюансы по сравнению с циклевкой штучного паркета. Дело в том, что паркетная доска — это напольное деревянное покрытие, состоящее из 3-х слоев, лишь верхний слой которого можно шлифовать. Однако толщина  верхнего слоя паркетной доски обычно составляет 2-3 мм, поэтому шлифовать паркетную доску можно 1 раз, реже 2 раза.
        
        .services-block__item
          .services-block__title.h1 Как мы шлифуем паркетную доску
          .services-steps.flex-row
            .services-steps__item.w50
              .services-steps__title.flex-row
                .txt-orange Шаг 1
              .services-steps__text Сначала мы очищаем старое лаковое покрытие шлифовальной машиной ленточного типа, но не грубым, а мелким абразивным материалом, чтобы не повредить саму древесину рабочей зоны паркетной доски, то есть проводим щадящую шлифовку.  Углы, периметр помещения и труднодоступные места мы шлифуем специальной углошлифовальной машинкой с пылесборником.
            .services-steps__item.w50
              .services-steps__title.flex-row
                .txt-orange Шаг 2
              .services-steps__text После этого проводим финишную  шлифовку  паркетной доски с помощью плоскошлифовальной машиной Трио. Эта услуга позволяет сделать поверхность пола идеально гладким и вернуть ему первозданный вид, при этом все делается в щадящем режиме.
            .services-steps__item.w50
              .services-steps__title.flex-row
                .txt-orange Шаг 3
              .services-steps__text Подготовка завершена. Следующий шаг — лакировка паркетной доски  — важнейший этап работ. Неправильная лакировка может свести на нет все усилия по шлифовке. Перед тем как покрыть лаком, мы тщательно пылесосим пол, чтобы убрать мелкую пыль.
            .services-steps__item.w50
              .services-steps__title.flex-row
                .txt-orange Шаг 4
              .services-steps__text После нанесения первого слоя лака мы проводим межслойную шлифовка лака — это один из важных этапов шлифовки и лакировки паркетной доски. Это нужно для того, чтобы сделать лаковое покрытие более гладким и нанести на предыдущий слой микросетку.
        
          .services-block__slider.js-services-block__slider
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")

  .tariff.services-tariff
    .wrapper
      .h1 Тариф «Паркетная доска»
      
      .tariff-item
        .tariff-item__inner
          .flex-row
            .w50
              .h3 Наименование работ:
              ul
                li Щадящая шлифовка доски трехдисковой машиной Трио
                li Шлифовка пола в углах и по периметру
                li Очистка пола производственным пылесосом
                li Покрытие лаком в 3 слоя
                li Межслойная шлифовка лака
                li Вынос мусора
                li Доставка в пределах МКАД

            .w50
              .h3 Материалы:
              ul
                li Лак паркетный водный Luxens
                li Валик для лака по дереву Dexter 
                li Малярная лента для изоляции
                li Мусорный мешок для отходов паркета
                li Шлифовальные материалы
        .tariff-price  Цена 550 руб/м² 
        a.btn.services-tariff__btn(href="#popup-form").js-popup-btn Заказать


  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваш телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам