extends ../template/template
include ../_mixins


block vars
  - title = 'Главная';
  - pageClass = 'page-index'
  - var popupSuccess = true

block content

  .promo
    .wrapper
      .promo-form
        .promo-img
          img(src="../../images/userfiles/person-1.png", alt="" draggable="false")      
        .promo-form__block
          .promo-form__line
          .h2 Закажите
          .promo-form__title бесплатную консультацию технолога
          .input-wrap
            input(type="text" placeholder="Ваше имя").input-name
          .input-wrap
            input(type="text" placeholder="Ваш телефон").js-phone.input-phone
          button.btn Заказать

    .promo-slider
      .js-promo-slider
        .promo-item
          img(src="../../images/userfiles/promo-slider-1.jpg", alt="").promo-bg
          .wrapper          
            .promo-inner
              .promo-content
                .h2 Циклевка паркета
                .h3.s-font Акция! Приведи друга — получи 10% от стоимости выполненной работы!

        .promo-item
          img(src="../../images/userfiles/promo-slider-2.png", alt="").promo-bg
          .wrapper          
            .promo-inner
              .promo-content
                .h2 Тонировка
                .h3.s-font Акция! Колорант в подарок на площадь до 20 кв.м            

        .promo-item
          img(src="../../images/userfiles/promo-slider-3.jpg", alt="").promo-bg
          .wrapper
            .promo-inner
              .promo-content
                .h2 Ремонт паркета
                .h3.s-font Акция! Замена испорченных плашек до 5 шт. бесплатно            

        .promo-item
          img(src="../../images/userfiles/promo-slider-4.jpg", alt="").promo-bg
          .wrapper
            .promo-inner
              .promo-content
                .h2 Шлифовка паркетной доски 
                .h3.s-font Акция! Средства по уходу в подарок

  .advantage
    .wrapper
      .h1 Наши преимущества
      .flex-row
        .advantage-item.w33
          .advantage-icon
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-1.svg", alt="")
          .h3.upper Всегда довольные клиенты
          p Среди наших клиентов такие организации как Мэрия Москвы, Министерство экономического  развития РФ, Федеральное казначейство РФ. Мы заслужили доверие результатом наших работ перед каждым клиентом. Качество работ позволяет нам сотрудничать как с крупными корпоративными клиентами, так и с частными потребителями. 
        .advantage-item.w33
          .advantage-icon
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-2.svg", alt="")
          .h3.upper Работаем без предоплаты
          p В работе мы учитываем все ваши пожелания еще на стадии заключения договора. Мы проводим консультации, визуальный осмотр и подготовку помещения, закупку расходных материалов и доставку оборудования за наш счет. Только удостоверившись в качестве нашей работы, вы оплачиваете услуги и получаете гарантию.
        .advantage-item.w33
          .advantage-icon
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-3.svg", alt="")
          .h3.upper Гарантия 5 лет на работы
          p Гарантийные случаи согласовываются с вами и прописываются в договоре. Если паркет вздуется, отклеятся плашки, вылетят отельные плашки и др., то наши мастера сделают ремонт за наш счет.

  .about
    .wrapper
      .about-block
        .h1 Вы доверяете нам – мы не обманываем Вас
        .flex-row
          .w50
            .about-block__text
              p Мы паркетными работами с гарантией повышенной износостойкости
                |материалов. Работаем на легальной основе по договору. В стандартном
                |тексте договора предусмотрена 5-летняя гарантия на большинство
                |видов наших услуг.

              p Компания «Прайм Паркет» делает ставку на команду мастеров, которые
                |любят своё дело и постоянно развиваются. Наши технологи работают
                |с полами государственных учреждений и элитных домов. Мы аккуратно
                |и бережно работаем с благородным паркетом старинных зданий, усадьб,
                |галерейных центров и музеев.  

              p На основе знаний тысячи нюансов и методик мы сделаем покрытие
                |пола таким, словно его только что постелили. В работе используем
                |новейшее оборудование и современные материалы от европейских
                |производителей, что обеспечивает безупречное качество нашей работы.
          .w50
            .about-block__img
              img(src="../../images/userfiles/img-1.jpg", alt="")

    include ../particles/clients

  
  .works.bg-gray
    .wrapper
      .h1 Наши работы
      .works-wrap.flex-row.wrap
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-1.JPG", alt="")
            img(src="../../images/userfiles/work-2.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-3.JPG", alt="")
            img(src="../../images/userfiles/work-4.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-5.JPG", alt="")
            img(src="../../images/userfiles/work-6.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-7.JPG", alt="")
            img(src="../../images/userfiles/work-8.JPG", alt="")
      .works-loadbtn.text-center
        a(href="#!").btn посмотреть все работы

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваш телефон").js-phone.input-phone
        button.btn Заказать