extends ../template/template
include ../_mixins


block vars
  - title = 'Общий прайс-лист';
  - pageClass = 'page-recovery'

block content
  .pricelist

    .tariff
      .wrapper
        .h1 Общий прайс-лист
        
        .tariff-item
          .tariff-item__inner
            table
              thead
                td №
                td
                  .h3 Наименование работ:
                td
                  .h3 Стоимость работ
              tbody
                  tr
                    td 1
                    td Циклевка полов
                    td 220 руб/кв.м.
                  tr
                    td 2
                    td Циклевка фанеры
                    td 150 руб/кв.м.
                  tr
                    td 3
                    td Шлифовка Трио
                    td 280 руб/кв.м.
                  tr
                    td 4
                    td Шлифовка углов и по периметру
                    td 40 руб/м.п.
                  tr
                    td 5
                    td Дополнительная ручная обработка РПМ
                    td 300 руб/кв.м
                  tr
                    td 6
                    td Шпатлевка щелей
                    td 150 руб/кв.м
                  tr
                    td 7
                    td Межслойная шлифовка лака
                    td 120 руб/кв.м.
                  tr
                    td 8
                    td Лакировка паркета 1 слой
                    td 60 руб/кв.м.
                  tr
                    td 9
                    td Нанесение спиртовой грунтовки
                    td 150 руб/кв.м.
                  tr
                    td 10
                    td Нанесение тонирующего состава
                    td 450 руб/кв.м.
                  tr
                    td 11
                    td Нанесение масла бесцветного
                    td 300 руб/кв.м.
                  tr
                    td 12
                    td Демонтаж и монтаж БЕЗ ЗАМЕНЫ ПЛАШКИ
                    td от 180 руб/шт.
                  tr
                    td 13
                    td Демонтаж старой плашки, монтаж НОВОЙ ПЛАШКИ
                    td от 300 руб/шт.
                  tr
                    td 14
                    td Шлифовка лестницы
                    td от 400 руб/шт.
                  tr
                    td 15
                    td Шлифовка под ступенькой
                    td от 600 руб/шт.
                  tr
                    td 16
                    td Лакировка плинтусов
                    td 60 руб/м.п.
                  tr
                    td 17
                    td Демонтаж линолеума, ковролина, фанеры
                    td 200 руб/кв.м.
                  tr
                    td 18
                    td Установка напольных порожков
                    td от 500 руб/м.п.
                  tr
                    td 19
                    td Укладка фанеры
                    td 200 руб/кв.м.
                  tr
                    td 20
                    td Укладка ламината ПО ПРЯМОЙ
                    td 200 руб/кв.м.
                  tr
                    td 21
                    td Укладка ламината  ПО ДИАГОНАЛИ
                    td 300 руб/кв.м.
                  tr
                    td 22
                    td Укладка паркетной доски НА ПОДЛОЖКУ
                    td 250 руб/кв.м.
                  tr
                    td 23
                    td Укладка паркетной доски ПО ДИАГОНАЛИ
                    td 350 руб/кв.м.
                  tr
                    td 24
                    td Укладка паркетной доски НА КЛЕЙ
                    td 600 руб/кв.м.
                  tr
                    td 25
                    td Укладка паркета (палуба, на клей и гвоздь)
                    td 800 руб/кв.м.
                  tr
                    td 26
                    td Укладка массивной доски  (палуба, на клей и гвоздь)
                    td 650 руб/кв.м.
                  tr
                    td 27
                    td Устранение скрипа паркетными уколами
                    td 190 руб/укол
                  tr
                    td 28
                    td Подъем оборудования в домах без лифта
                    td 150 руб/этаж
                  tr
                    td 29
                    td Демонтаж плинтусов 
                    td от 60 руб/м.п.
                  tr
                    td 30
                    td Демонтаж напольных порожков
                    td от 150 руб/м.п.
                  tr
                    td 31
                    td Ручная обработка пола под батареей
                    td от 800 руб.
                  tr
                    td 32
                    td Ручная работа вокруг дверных косяков
                    td от 150 руб/шт. 
                  tr
                    td 33
                    td Ручная обработка вокруг мебели
                    td от 250 руб/м.п.
                  tr
                    td 34
                    td Циклевка и шлифовка вокруг плинтусов
                    td от 80 руб/шт.
                  tr
                    td 35
                    td Передвижение мебели
                    td от 2000 руб/шт.
                  tr
                    td 36
                    td Вынос мебели из помещения
                    td от 200 руб/шт.
                  tr
                    td 37
                    td Крепление защитной пленки на стены
                    td 100 руб/кв.м. 
                  tr
                    td 38
                    td Доставка оборудования в пределах МКАД
                    td 500 руб.
                  tr
                    td 39
                    td Доставка оборудования за МКАД
                    td 40 руб/км.
                  tr
                    td 40
                    td Вызов технолога для консультации
                    td 1000 руб. 
                  tr
                    td 41
                    td Индивидуальная подготовка образцов тонировки
                    td 2500 руб/цвет

    include ../particles/letters

    include ../particles/clients

    .order-form
      .wrapper
        img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
        .order-form__content
          .h2.order-form__undertitle Заказать
          .order-form__title бесплатную
          .order-form__subtitle консультацию технолога
        form(action="").flex-row
          .input-wrap
            input(type="text" placeholder="Ваше имя").input-name
          .input-wrap
            input(type="text" placeholder="Ваш телефон").js-phone.input-phone
          button.btn Заказать
        .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам