extends ../template/template
include ../_mixins


block vars
  - title = 'Циклевка';
  - pageClass = 'page-recovery'

block content

  .promo
    img(src="../../images/userfiles/recovery-img-1.png", alt="").promo-bg
    .wrapper
      .promo-flex
        .promo-content
          .h2 Циклевка паркета
          .h3.s-font Акция! Приведи друга — получи 10% от стоимости выполненной работы!
        .promo-form
          .promo-img.js-visible.translate
            img(src="../../images/userfiles/person-2.png", alt="" draggable="false")      
          .promo-form__block
            .promo-form__line
            .h2 Закажите
            .promo-form__title бесплатную консультацию технолога
            .input-wrap
              input(type="text" placeholder="Ваше имя").input-name
            .input-wrap
              input(type="text" placeholder="Ваше телефон").js-phone.input-phone
            .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
            button.btn Заказать

  .tariff
    .wrapper
      .h1 Наши тарифные планы
      .tariff-flex
        .tariff-item.js-visible.translate-up
          .tariff-item__inner
            .tariff-title.txt-orange «Эконом»
            .h3 Наименование работ:
            ul
              li Циклевка пола
              li Циклевка пола в углах и по периметру
              li Покрытие лаком в 1 слоя
              li Очистка пола производственным пылесосом
              li Вынос мусора
              li Доставка в пределах МКАД
            .h3 Материалы:
            ul
              li Лак паркетный Текс Профи
              li Валик для лака по дереву Dexter 230 мм
              li Малярная лента для изоляции
              li Мусорный мешок для отходов паркета
              li Шлифовальные материалы
            .tariff-price 290 руб/м²

        .tariff-item.js-visible.translate-up
          .tariff-item__inner
            .tariff-title.txt-orange «Стандарт»
            .h3 Наименование работ:
            ul
              li Циклевка пола
              li Циклевка пола в углах и по периметру
              li Шлифовка паркета
              li Шпаклевка щелей
              li Покрытие лаком в 3 слоя
              li Межслойная шлифовка лака
              li Очистка пола производственным пылесосом
              li Вынос мусора
              li Доставка в пределах МКАД
            .h3 Материалы:
            ul
              li Шпатлевка White House универсальный
              li Лак паркетный водный Luxens
              li Валик для лака по дереву Dexter
              li Малярная лента для изоляции
              li Мусорный мешок для отходов паркета
              li Шлифовальные материалы
            .tariff-price 490 руб/м²
            
        .tariff-item.js-visible.translate-up
          .tariff-item__inner
            .tariff-title.txt-orange «Евро»
            .h3 Наименование работ:
            ul
              li Циклевка пола
              li Циклевка пола в углах и по периметру
              li Шлифовка паркета
              li Шпаклевка щелей
              li Шлифовка плоскошлифовальной машиной Трио
              li Покрытие лаком в 3 слоя (двухкомпонентный)
              li Межслойная шлифовка лака
              li Очистка пола производственным пылесосом
              li Вынос мусора
              li Доставка в пределах МКАД
            .h3 Материалы:
            ul
              li Шпаклевки Chimiver ECOFILL 2010
              li Лак Двухкомпонентный Chimiver Ecostar 2K 
              li Валик для лака по дереву Anza
              li Малярная лента для изоляции
              li Мусорный мешок для отходов паркета
              li Шлифовальные материалы
            .tariff-price 790 руб/м²
        .tariff-item.js-visible.translate-up
          .tariff-item__inner
            .tariff-title.txt-orange «Универсальный»
            .h3 Наименование работ:
            ul
              li Циклевка пола
              li Циклевка пола в углах и по периметру
              li Шлифовка паркета
              li Шпаклевка щелей
              li Шлифовка плоскошлифовальной машиной Трио
              li Покрытие спиртовой грунтовкой в 1 слой
              li Покрытие лаком в 3 слоя (двухкомпонентный)
              li Межслойная шлифовка лака
              li Очистка пола производственным пылесосом
              li Вынос мусора
              li Доставка в пределах МКАД
            .h3 Материалы:
            ul
              li Шпатлевка Аdesiv legastucco L100  на растворителях
              li Грунтовка полиуретановая Superfond (5+5 л) 2К
              li Лак Двухкомпонентный Chimiver Ecostar 2K
              li Валик для грунтовки  Microfaser 60-80
              li Валик для лака по дереву Anza
              li Малярная лента для изоляции
              li Мусорный мешок для отходов паркета
              li Шлифовальные материалы
            .tariff-price 990 руб/м²
        .tariff-item.js-visible.translate-up
          .tariff-item__inner
            .tariff-title.txt-orange «Премиум»
            .h3 Наименование работ:
            ul
              li Циклевка пола 
              li Циклевка пола в углах и по периметру
              li Шпаклевка щелей в 2 слоя
              li Шлифовка плоскошлифовальной машиной Трио
              li Дополнительная ручная обработка пола
              li Нанесение грунтовки 1 слой водный или спиртовая 
              li Межслойная шлифовка лака 2 раза
              li Нанесение 4 слоев лака (двухкомпонентный)
              li Нанесения геля между слоями лака
              li Очистка пола производственным пылесосом
              li Вынос мусора
              li Доставка в пределах МКАД
            .h3 Материалы:
            ul
              li Грунтовка LOBADUR (спиртовая, водная)
              li Лак LOBADUR WS 2k Supra AT
              li Гель для паркета  LOBADUR  WS Top Gel
              li Шпаклевочный состав LOBADUR (водный, спиртовой)
              li Валик LOBATOOL Microfaser 100-120
              li Валик LOBATOOL Universal 100
              li Пленка для укрытия стен от пыли
              li Малярная лента для изоляции
              li Мусорный мешок для отходов паркета 
              li Шлифовальные материалы
            .tariff-price 2250 руб/м²

    .calculator
      .wrapper
        .calculator-block__wrap
          .calculator-block--border
          .calculator-block
            .calculator-title Калькулятор работ
            .flex-row.calculator-form
              .input-wrap.w33
                select.js-tariff
                  option(value="clear") Выберите тариф
                  option(value="290") Эконом
                  option(value="490") Стандарт
                  option(value="790") Евро
                  option(value="990") Универсальный
                  option(value="2250") Премиум
              .input-wrap.w33
                input(type="text" placeholder="Введите Вашу площадь, м2").input-build.js-number.js-build
              button.btn.btn-line.w33.js-calculate рассчитать
            .calc-error Выберите тариф и площадь!
            .calc-result
              span Итоговая стоимость услуг составляет:
              .calc-result__value
            a(href="#popup-form").js-popup-btn.btn.btn-calc заказать
  
  .recovery-adv
    .wrapper
      .h1.txt-white Почему обращаются именно к нам?
      .flex-row.wrap
        .advantage-item.w33
          .advantage-icon.rotate.js-visible
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-4.svg", alt="")
          .h3.upper.txt-yellow Большой опыт работы
          p Мы занимаемся циклевкой паркета уже больше 10 лет. За это время мы выполняли работы для частных потребителей,
            |государственных учреждений и крупных коммерческих организаций. Наши заказчики рекомендуют нас своим друзьям и коллегам.
        .advantage-item.w33
          .advantage-icon.rotate.js-visible
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-5.svg", alt="")
          .h3.upper.txt-yellow Оплата за результат
          p Все предварительные консультации, выезд технолога, закупка расходного материала и доставка оборудования производится за наш счет. Вы платите только за результат нашей работы.

        .advantage-item.w33
          .advantage-icon.rotate.js-visible
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-6.svg", alt="")
          .h3.upper.txt-yellow Работа по договору
          p В договоре мы детально прописываем все условия сотрудничества. Также, мы предоставляем гарантию на наши услуги на 5 лет. 

        .advantage-item.w33
          .advantage-icon.rotate.js-visible
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-7.svg", alt="")
          .h3.upper.txt-yellow Команда профессионалов
          p У нас работают квалифицированные мастера, которые любят свою работу и постоянно развиваются.

        .advantage-item.w33
          .advantage-icon.rotate.js-visible
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-8.svg", alt="")
          .h3.upper.txt-yellow работа 24/7
          p Мы выполняем работы в любое удобное для вас время суток, в выходные и даже праздничные дни.

        .advantage-item.w33
          .advantage-icon.rotate.js-visible
            .advantage-icon__inner
              img(src="../../images/icons/adv-icon-9.svg", alt="")
          .h3.upper.txt-yellow Не пыльная работа
          p Все помещение мы тщательно защитим от проникновения пыли. После выполнения работы мы уберем за собой весь мусор и сделаем уборку техническим пылесосом.

  .info-about.bg-pattern
    .wrapper
      .h1 Что нужно знать о нас?
      .info-about__text
        .info-about__img.js-visible.translate
          .info-about__img--border
          img(src="../../images/userfiles/img-1.jpg", alt="")
        p Компания «Прайм Паркет» занимается циклевкой  паркета больше 10 лет. Мы лидеры среди компаний, которые занимаются обработкой паркета и деревянных полов. 
        p Наша гордость – наши довольные клиенты. Это и частные потребители, и государственные учреждения, и коммерческие организации.  Более 80% наших заказчиков – это компании, которые пришли к нам по рекомендации друзей и коллег. Мы выполняли работы для Мэрии  Москвы, Министерства экономического развития РФ, Федерального казначейства РФ и т.д.
        p Мы работаем с клиентами в Москве, в Московской области, и готовы взяться за работу в других регионах.
        p Наше достоинство – наши мастера, которые за 10 лет изучили все нюансы и особенности работы с полами из экзотических пород  дерева, полами начала 19 века, полами после протечек и пожаров. 
        p В нашей работе мы используем только профессиональное оборудование европейского производства. Это позволяет выполнить работу без пыли и сделать паркет таким, словно его только что постелили.
      .info-about__adv.flex-row.wrap
        .flex-col.w33
          strong(data-count="93").counter 0
          span клиентов рекомендуют нас своим знакомым
        .flex-col.w33
          strong(data-count="65").counter 0
          span клиентов приходят к нам по рекомендации
        .flex-col.w33
          strong(data-count="100").counter 0
          span Успешно выполненных работ

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-2.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Получите бесплатно
        .order-form__title Рассчет сметы
        .order-form__subtitle без дополнительных переплат
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваше телефон").js-phone.input-phone
        button.btn получить смету
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
  
  .work-steps.bg-gray
    .wrapper
      .work-steps__title
        .h1 Как мы работаем?
        .work-steps__describe За более чем 10 лет работы мы выработали систему взаимодействия с заказчиком, которая учитывает интересы обеих сторон. <br/> Сотрудничество на протяжении работы состоит из следующих этапов:
      .flex-row.wrap.j-center
        .advantage-item.w33
          .flex-row
            .work-steps__number 01.
            .advantage-icon.js-visible
              .advantage-icon__inner
                img(src="../../images/icons/adv-icon-10.svg", alt="")
          p Вы оставляете заявку на сайте или звоните нам по телефону +7 (495) 120-05-82. Наши технологи проконсультируют вас по этапам работы, ценам и срокам. Приедут на объект, чтобы оценить объем работы и рассчитать окончательную стоимость.
        .advantage-item.w33
          .flex-row
            .work-steps__number 02.
            .advantage-icon.js-visible
              .advantage-icon__inner
                img(src="../../images/icons/adv-icon-11.svg", alt="")
          p Мы подбираем для вас тариф и согласовываем все детали. Заключаем договор, в котором прописаны все условия работы.

        .advantage-item.w33
          .flex-row
            .work-steps__number 03.
            .advantage-icon.js-visible
              .advantage-icon__inner
                img(src="../../images/icons/adv-icon-12.svg", alt="")
          p В оговоренное время наши мастера приедут на объект, чтобы подготовить помещение к проведению работ. Мы удалим старый лак и все повреждения, проведем шлифовальные работы и нанесем новые слои лака.

        .advantage-item.w33
          .flex-row
            .work-steps__number 04.
            .advantage-icon.js-visible
              .advantage-icon__inner
                img(src="../../images/icons/adv-icon-13.svg", alt="")
          p После работы мы уберем за собой помещение, не оставив мусора и пыли.
        
        .advantage-item.w33
          .flex-row
            .work-steps__number 05.
            .advantage-icon.js-visible
              .advantage-icon__inner
                img(src="../../images/icons/adv-icon-14.svg", alt="")
          p Вы принимаете готовую работу и оплачиваете полную стоимость.


  .works.bg-pattern.js-load-block
    .wrapper
      .h1 Наши работы
      .works-wrap.flex-row.wrap.js-load-container
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-1.JPG", alt="")
            img(src="../../images/userfiles/work-2.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-3.JPG", alt="")
            img(src="../../images/userfiles/work-4.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-5.JPG", alt="")
            img(src="../../images/userfiles/work-6.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-7.JPG", alt="")
            img(src="../../images/userfiles/work-8.JPG", alt="")
      .works-loadbtn.text-center
        a(href="../particles/ajaxload-works.html").btn.js-load-btn хочу еще примеры

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-3.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Хотите так же?
        .order-form__title Подберем тариф
        .order-form__subtitle именно под ваш проект и начнем работу уже завтра!
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваше телефон").js-phone.input-phone
        button.btn подобрать тариф
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам

  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваше телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам