extends ../template/template
include ../_mixins


block vars
  - title = 'Отзывы';
  - pageClass = ''

block content
  .reviews.bg-pattern
    .wrapper
      .h1 Отзывы
              
      .reviews-slider.js-letters-slider        
        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto", title="title").reviews-slide.popup-youtube.link
          .reviews-slide__img(style="background: #000")
            img(src="", alt="").thumb
            img(src="../../images/icons/play.png", alt="").play

          .reviews-slide__text
            .reviews-slide__text.txt-orange 25.10.18 
            .reviews-slide__title Название организации или ФИО 
            span 45 кв.м.
        
        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto", title="title").reviews-slide.popup-youtube.link
          .reviews-slide__img(style="background: #000")
            img(src="../../images/userfiles/img-1.jpg", alt="").thumb
            img(src="../../images/icons/play.png", alt="").play

          .reviews-slide__text
            .reviews-slide__text.txt-orange 25.10.18 
            .reviews-slide__title Название организации или ФИО 
            span 45 кв.м.
        
        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto", title="title").reviews-slide.popup-youtube.link
          .reviews-slide__img(style="background: #000")
            img(src="../../images/userfiles/img-1.jpg", alt="").thumb
            img(src="../../images/icons/play.png", alt="").play

          .reviews-slide__text
            .reviews-slide__text.txt-orange 25.10.18 
            .reviews-slide__title Название организации или ФИО 
            span 45 кв.м.
        
        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto", title="title").reviews-slide.popup-youtube.link
          .reviews-slide__img(style="background: #000")
            img(src="../../images/userfiles/img-1.jpg", alt="").thumb
            img(src="../../images/icons/play.png", alt="").play

          .reviews-slide__text
            .reviews-slide__text.txt-orange 25.10.18 
            .reviews-slide__title Название организации или ФИО 
            span 45 кв.м.
        
        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto", title="title").reviews-slide.popup-youtube.link
          .reviews-slide__img(style="background: #000")
            img(src="../../images/userfiles/img-1.jpg", alt="").thumb
            img(src="../../images/icons/play.png", alt="").play

          .reviews-slide__text
            .reviews-slide__text.txt-orange 25.10.18 
            .reviews-slide__title Название организации или ФИО 
            span 45 кв.м.

      .reviews-list.flex-row
        .reviews-item.w50
          .reviews-item__date.txt-orange 25.10.18
          .reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .reviews-item__author Название организации или ФИО
          .reviews-item__area 48 кв.м
        .reviews-item.w50
          .reviews-item__date.txt-orange 25.10.18
          .reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .reviews-item__author Название организации или ФИО
          .reviews-item__area 48 кв.м
        .reviews-item.w50
          .reviews-item__date.txt-orange 25.10.18
          .reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .reviews-item__author Название организации или ФИО
          .reviews-item__area 48 кв.м
        .reviews-item.w50
          .reviews-item__date.txt-orange 25.10.18
          .reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .reviews-item__author Название организации или ФИО
          .reviews-item__area 48 кв.м

      .reviews__load
        a.btn(href="#!") Показать еще

      .reviews-form
        .h1 Оставить отзыв
        form(action="#!")
          .reviews__radio.w50
            .flex-row
              .w50
                .input-wrap
                  label.radio
                    input(type="radio" name="reviews-author" checked)
                    small
                    span Физическое лицо
              .w50
                .input-wrap
                  label.radio
                    input(type="radio" name="reviews-author")
                    small
                    span Организация
          .reviews-form__inner.flex-row
            .reviews-form__col
              .input-wrap
                input(type="text" placeholder="Имя/Название организации").input-name
              .input-wrap
                input(type="text" placeholder="Ваш e-mail").input-mail
              .flex-row
                .w50
                  .input-wrap
                    input(type="text" placeholder="Дата").input-date.datepicker-here
                .w50
                  .input-wrap
                    input(type="text" placeholder="Квадратура").input-build.js-number          
            .reviews-form__col
              .input-wrap
                textarea(placeholder="Текст отзыва").input-textarea
          a.btn(href="#!").reviews-form__submit Оставить отзыв