extends ../template/template
include ../_mixins


block vars
  - title = 'Услуга';
  - pageClass = 'page-service'

block content

  .promo
    img(src="../../images/userfiles/promo-slider-1.jpg", alt="").promo-bg
    .wrapper
      .promo-flex
        .promo-content
          .h2 Ремонт  паркета
          .h3.s-font Акция! Замена испорченных плашек до 5 шт. бесплатно!
        .promo-form               
          .promo-form__block
            .promo-form__line
            .h2 Получить
            .promo-form__title бесплатную консультацию технолога
            .input-wrap
              input(type="text" placeholder="Ваше имя").input-name
            .input-wrap
              input(type="text" placeholder="Ваше телефон").js-phone.input-phone
            .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
            button.btn Заказать

  .services-block.bg-pattern
    .wrapper
      .h1 Услуги по ремонту <br/> и реставрации паркета
      .services-wrap        
        .services-item.flex-row
          .services-slider.js-services-slider
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .services-content
            .h3 Замена испорченных плашек
            .services-content__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                |ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .services-price 
              strong Цена:
              span.services-price__old от 250/р  
              | 195/р за элемент
            a(href="#!").btn Заказать
        .services-item.flex-row
          .services-slider.js-services-slider
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .services-content
            .h3 Замена испорченных плашек
            .services-content__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                |ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .services-price 
              strong Цена:
              span.services-price__old от 250/р  
              | 195/р за элемент
            a(href="#!").btn Заказать
        .services-item.flex-row
          .services-slider.js-services-slider
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
            .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .services-content
            .h3 Замена испорченных плашек
            .services-content__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                |ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .services-price 
              strong Цена:
              span.services-price__old от 250/р  
              | 195/р за элемент
            a(href="#!").btn Заказать
            
  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваше телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам