extends ../template/template
include ../_mixins


block vars
  - title = 'Тонировка паркета';
  - pageClass = ''

block content
  .promo
    img(src="http://prime-parket.ru/wp-content/uploads/2018/06/promo-slider-4.jpg", alt="").promo-bg
    .wrapper
      .promo-flex
        .promo-content
          .h2 Тонировка паркета
        .promo-form     
          .promo-form__block
            .promo-form__line
            .h2 Закажите
            .promo-form__title бесплатную консультацию технолога
            .input-wrap
              input(type="text" placeholder="Ваше имя").input-name
            .input-wrap
              input(type="text" placeholder="Ваше телефон").js-phone.input-phone
            .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
            button.btn Заказать

  .services-block.bg-pattern
    .wrapper
      .services-wrap
        .services-block__item
          .services-block__title.h1 Тонировка паркета
          .services-steps.flex-row
            .services-steps__item.w33
              .services-steps__title.flex-row
                .txt-orange Шаг 1. 
                | Вызов технолога
              .services-steps__text Позволит Вам более точно понять объем выполняемых работ, уровень его сложности и выявит возможные скрытые дефекты, которые могут находиться под Вашим паркетом. В случае c пакетом «Тонировка» также Вы можете выбрать нужный тон желаемого дерева.
            .services-steps__item.w33
              .services-steps__title.flex-row 
                .txt-orange Шаг 2. 
                | Циклевка пола
              .services-steps__text Выполняет первичную очистку пола от неглубоких темных пятен поверхностной грязи пола. Именно данный этап возвращает Вашему полу былую новизну и обновленность, поэтому мы относим данный этап к одному из самых важных и ответственных процессов.
            .services-steps__item.w33
              .services-steps__title.flex-row 
                .txt-orange Шаг 3. 
                | Шпаклевка щелей 
              .services-steps__text Теперь, когда поверхность пола отшлифована и выровнена, мастер приступает к шпаклевке щелей. Обычно для этого используется специальный состав для приготовления шпатлевки Loba (Германия).
            .services-steps__item.w33
              .services-steps__title.flex-row
                .txt-orange Шаг 4. 
                | Шлифовка машинкой TRIO
              .services-steps__text Когда шпатлевка полностью просохла, мастер производит последнюю шлифовку паркета мелкой наждачной бумагой, с помощью плоскошлифовальной машины TRIO (Германия). Шпатлевка удаляется с поверхности и остается только в щелях и порах древесины.
            .services-steps__item.w33
              .services-steps__title.flex-row 
                .txt-orange Шаг 5. 
                | Тонировка пола
              .services-steps__text Для нанесения тонировки мы используем собственные технологии и собственные наработки. Правильно подобранные тонирующие составы позволяют затонировать паркет равномерно, без пятен и полос, а так же обеспечивают надежное сцепление слоев лака и защиту от выгорания.
            .services-steps__item.w33
              .services-steps__title.flex-row 
                .txt-orange Шаг 6. 
                | Лакировка пола
              .services-steps__text Паркет полностью готов и теперь его можно покрывать лаком или маслом. Мастер наносит грунтовки, лаки и масла только профессиональными немецкими валиками типа «Микрофибра»
        
      .services-block__item
        .h1 Тонирующие составы

        .colors
          .colors-describe.flex-row
            .colors-describe__img
              img(src="../../images/userfiles/tonirovka-img.jpg", alt="")
            .colors-describe__text
              .colors-describe__title LOBADUR "ProColor"
              p Колорант с умеренным запахом для профессионального окрашивания напольных покрытий из древесины. Водные паркетные лаки LOBADUR наносить только после полного высыхания колоранта. Все цвета можно смешивать между собой. 
          .colors__title Цвета:
          .colors__list.flex-row
            .colors__item
              img(src="../../images/userfiles/color-1.jpg", alt="")
              .colors__name Афромазия 
            .colors__item
              img(src="../../images/userfiles/color-2.jpg", alt="")
              .colors__name Афзелия
            .colors__item
              img(src="../../images/userfiles/color-3.jpg", alt="")
              .colors__name Билинга
            .colors__item
              img(src="../../images/userfiles/color-4.jpg", alt="")
              .colors__name Ятоба
            .colors__item
              img(src="../../images/userfiles/color-5.jpg", alt="")
              .colors__name Белый
            .colors__item
              img(src="../../images/userfiles/color-6.jpg", alt="")
              .colors__name Падук
            .colors__item
              img(src="../../images/userfiles/color-7.jpg", alt="")
              .colors__name Панга-Панга
            .colors__item
              img(src="../../images/userfiles/color-8.jpg", alt="")
              .colors__name Сукупира
            .colors__item
              img(src="../../images/userfiles/color-9.jpg", alt="")
              .colors__name Венге
            .colors__item
              img(src="../../images/userfiles/color-10.jpg", alt="")
              .colors__name Орех
            .colors__item
              img(src="../../images/userfiles/color-11.jpg", alt="")
              .colors__name Дуб мореный
            .colors__item
              img(src="../../images/userfiles/color-12.jpg", alt="") 
              .colors__name Папирус
      .services-block__item
        .services-block__slider.js-services-block__slider
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")
          .slide: img(src="../../images/userfiles/work-slider.jpg", alt="")

  .tariff.services-tariff
    .wrapper
      .h1 Тариф «Паркетная доска»
      
      .tariff-item
        .tariff-item__inner
          .flex-row
            .w50
              .h3 Наименование работ:
              ul
                li Щадящая шлифовка доски трехдисковой машиной Трио
                li Шлифовка пола в углах и по периметру
                li Очистка пола производственным пылесосом
                li Покрытие лаком в 3 слоя
                li Межслойная шлифовка лака
                li Вынос мусора
                li Доставка в пределах МКАД

            .w50
              .h3 Материалы:
              ul
                li Лак паркетный водный Luxens
                li Валик для лака по дереву Dexter 
                li Малярная лента для изоляции
                li Мусорный мешок для отходов паркета
                li Шлифовальные материалы
        .tariff-price  Цена 550 руб/м² 
        a.btn.services-tariff__btn(href="#popup-form").js-popup-btn Заказать


  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваш телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам