extends ../template/template
include ../_mixins


block vars
  - title = 'Работы';
  - pageClass = 'page-works'

block content

  .works.bg-pattern
    .wrapper
      .h1 Наши работы
      ul.works-category
        li: a(href="#!").link.works-category__link.active циклевка
        li: a(href="#!").link.works-category__link ремонт и реставрация паркета
        li: a(href="#!").link.works-category__link шлифовка паркетной доски
        li: a(href="#!").link.works-category__link тонировка паркета
        li: a(href="#!").link.works-category__link циклевка фанеры
        li: a(href="#!").link.works-category__link укладка паркетной доски
        li: a(href="#!").link.works-category__link укладка паркета
        li: a(href="#!").link.works-category__link установка плинтусов

      .works-wrap.flex-row.wrap
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-1.JPG", alt="")
            img(src="../../images/userfiles/work-2.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-3.JPG", alt="")
            img(src="../../images/userfiles/work-4.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-5.JPG", alt="")
            img(src="../../images/userfiles/work-6.JPG", alt="")
        .works-item.w50
          .work-slider
            img(src="../../images/userfiles/work-7.JPG", alt="")
            img(src="../../images/userfiles/work-8.JPG", alt="")      

  include ../particles/clients

  include ../particles/letters

  .order-form
    .wrapper
      img(src="../../images/userfiles/order-bg-1.jpg", alt="").order-form__bg
      .order-form__content
        .h2.order-form__undertitle Заказать
        .order-form__title бесплатную
        .order-form__subtitle консультацию технолога
      form(action="").flex-row
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваше телефон").js-phone.input-phone
        button.btn Заказать
      .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам