@import iconfont

@font-face
    font-family: 'Milio'    
    src: url('../fonts/MilioRegular.otf')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'Milio'    
    src: url('../fonts/MilioRegularItalic.otf')
    font-weight: 400
    font-style: italic
@font-face
    font-family: 'Milio'    
    src: url('../fonts/MilioDemiBold.otf')
    font-weight: 500
    font-style: italic
@font-face
    font-family: 'Milio'    
    src: url('../fonts/MilioBold.otf')
    font-weight: 700
    font-style: normal
@font-face
    font-family: 'Milio'    
    src: url('../fonts/MilioLight.otf')
    font-weight: 300
    font-style: normal


@font-face
    font-family: 'ProximaNova'    
    src: url('../fonts/ProximaNovaRegular.otf')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'ProximaNova'    
    src: url('../fonts/ProximaNovaRegularItalic.otf')
    font-weight: 400
    font-style: italic
@font-face
    font-family: 'ProximaNova'    
    src: url('../fonts/ProximaNovaSemibold.otf')
    font-weight: 500
    font-style: normal
@font-face
    font-family: 'ProximaNova'    
    src: url('../fonts/ProximaNovaBold.otf')
    font-weight: 700
    font-style: normal