@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: inherit;
    line-height: normal;
    vertical-align: middle;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";
    
    @if $filename == arr-bottom {
        $char: "\E001";
    }
    @if $filename == arr-left {
        $char: "\E002";
    }
    @if $filename == arr-right {
        $char: "\E003";
    }
    @if $filename == cart-new {
        $char: "\E004";
    }
    @if $filename == comp {
        $char: "\E005";
    }
    @if $filename == dislike {
        $char: "\E006";
    }
    @if $filename == like {
        $char: "\E007";
    }
    @if $filename == ruble {
        $char: "\E008";
    }
    @if $filename == sravnenie {
        $char: "\E009";
    }
    @if $filename == star {
        $char: "\E00A";
    }
    @if $filename == tv {
        $char: "\E00B";
    }

    @return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
    &:#{$insert} {
        content: iconic-char($filename);
    }
}

.iconic--arr-bottom {
    @include iconic(arr-bottom);
}
.iconic--arr-left {
    @include iconic(arr-left);
}
.iconic--arr-right {
    @include iconic(arr-right);
}
.iconic--cart-new {
    @include iconic(cart-new);
}
.iconic--comp {
    @include iconic(comp);
}
.iconic--dislike {
    @include iconic(dislike);
}
.iconic--like {
    @include iconic(like);
}
.iconic--ruble {
    @include iconic(ruble);
}
.iconic--sravnenie {
    @include iconic(sravnenie);
}
.iconic--star {
    @include iconic(star);
}
.iconic--tv {
    @include iconic(tv);
}