@charset "UTF-8";
/* *************** base ******************************* */
/* bases */
/**************** media queries *******************/
/**************** calculateRem *******************/
/**************** pseudo after/before *******************/
/**************** placeholder *******************/
/**************** center block *******************/
@font-face {
  font-family: "iconic";
  src: url("../fonts/iconic.eot");
  src: url("../fonts/iconic.eot?#iefix") format("eot"), url("../fonts/iconic.woff") format("woff"), url("../fonts/iconic.ttf") format("truetype"), url("../fonts/iconic.svg#iconic") format("svg"); }

.iconic {
  font-family: "iconic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }

.iconic--arr-bottom:after {
  content: ""; }

.iconic--arr-left:after {
  content: ""; }

.iconic--arr-right:after {
  content: ""; }

.iconic--cart-new:after {
  content: ""; }

.iconic--comp:after {
  content: ""; }

.iconic--dislike:after {
  content: ""; }

.iconic--like:after {
  content: ""; }

.iconic--ruble:after {
  content: ""; }

.iconic--sravnenie:after {
  content: ""; }

.iconic--star:after {
  content: ""; }

.iconic--tv:after {
  content: ""; }

@font-face {
  font-family: 'Milio';
  src: url("../fonts/MilioRegular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Milio';
  src: url("../fonts/MilioRegularItalic.otf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Milio';
  src: url("../fonts/MilioDemiBold.otf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Milio';
  src: url("../fonts/MilioBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Milio';
  src: url("../fonts/MilioLight.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNovaRegular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNovaRegularItalic.otf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNovaSemibold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNovaBold.otf");
  font-weight: 700;
  font-style: normal; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

.btn {
  display: inline-block;
  font-family: "ProximaNova";
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.5s;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 33px;
  box-sizing: border-box;
  border: none;
  padding: 0 60px;
  background-image: linear-gradient(to bottom, #fbc338 0%, #f88d0a 100%);
  height: 65px;
  line-height: 65px;
  letter-spacing: 4px;
  color: #fff; }
  .btn:hover {
    box-shadow: 5px 6px 45px 0px rgba(0, 0, 0, 0.4); }
  .btn-line {
    background: transparent;
    border: 4px solid #ea6637; }
  .btn-calc {
    background-image: linear-gradient(to bottom, #f88d0a 0%, #ea6637 100%); }
  @media screen and (max-width: 480px) {
    .btn {
      font-size: 13px;
      letter-spacing: 2px;
      padding: 0 30px; } }

[disable] {
  background: #E5ECF2;
  color: #8397ab; }
  [disable]:hover {
    background: #E5ECF2;
    color: #8397ab; }

#nav-icon1 {
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  transform: rotate(0deg) scale(0.5);
  transition: .5s ease-in-out;
  cursor: pointer; }
  @media screen and (max-width: 990px) {
    #nav-icon1 {
      display: block; } }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg); }

textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;
  outline: none;
  border-radius: 33px;
  padding: 20px 50px;
  font-size: 1rem;
  color: #060907; }
  textarea.placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  textarea:-moz-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  textarea::-moz-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  textarea:-ms-input-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  textarea::-webkit-input-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }

input, .jq-selectbox {
  width: 100%;
  font-family: "ProximaNova";
  height: 65px;
  outline: none;
  padding: 0 23px;
  padding-left: 60px;
  font-size: 1rem;
  transition: 0.5s;
  font-weight: 400;
  border-radius: 33px;
  border: none;
  color: #060907; }
  input.placeholder, .placeholder.jq-selectbox {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  input:-moz-placeholder, .jq-selectbox:-moz-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  input::-moz-placeholder, .jq-selectbox::-moz-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  input:-ms-input-placeholder, .jq-selectbox:-ms-input-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  input::-webkit-input-placeholder, .jq-selectbox::-webkit-input-placeholder {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 400;
    color: #060907;
    letter-spacing: .5px; }
  input.h54, .h54.jq-selectbox {
    font-size: 13px;
    height: 54px;
    line-height: 54px;
    border: 2px solid #D4DFEA; }
    input.h54.placeholder, .h54.placeholder.jq-selectbox {
      font-size: 13px; }
    input.h54:-moz-placeholder, .h54.jq-selectbox:-moz-placeholder {
      font-size: 13px; }
    input.h54::-moz-placeholder, .h54.jq-selectbox::-moz-placeholder {
      font-size: 13px; }
    input.h54:-ms-input-placeholder, .h54.jq-selectbox:-ms-input-placeholder {
      font-size: 13px; }
    input.h54::-webkit-input-placeholder, .h54.jq-selectbox::-webkit-input-placeholder {
      font-size: 13px; }

.input-wrap {
  position: relative;
  margin-bottom: 23px; }

.input-name {
  background: url("../images/icons/user.png") 20px center no-repeat, #fff; }

.input-phone {
  background: url("../images/icons/phone.png") 20px center no-repeat, #fff; }

.input-build {
  background: url("../images/icons/home.png") 20px center no-repeat, #fff; }

.input-mail {
  background: url("../images/icons/mail.png") 20px center no-repeat, #fff; }

.input-date {
  background: url("../images/icons/calendar.png") 20px center no-repeat, #fff; }

.input-textarea {
  background: url("../images/icons/message.png") 20px 22px no-repeat, #fff; }

.jq-selectbox {
  background: #fff;
  padding: 0;
  cursor: pointer; }
  .jq-selectbox__select {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    padding-left: 60px;
    display: -ms-flexbox;
    display: flex;
    border-radius: 33px;
    -ms-flex-align: center;
        align-items: center;
    position: relative; }
    .jq-selectbox__select:after {
      content: url("../images/icons/select-arrow.png");
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%); }
  .jq-selectbox__dropdown {
    border-radius: 33px;
    background: #fff;
    width: 100%;
    text-align: left;
    cursor: pointer; }
    .jq-selectbox__dropdown ul {
      padding: 25px 0; }
    .jq-selectbox__dropdown li {
      padding-left: 40px;
      margin-bottom: 15px;
      transition: .3s; }
      .jq-selectbox__dropdown li:last-child {
        margin-bottom: 0; }
      .jq-selectbox__dropdown li:first-child {
        display: none; }
      .jq-selectbox__dropdown li:hover {
        color: #f88d0a; }

.form-info-msg {
  max-width: 350px;
  font-size: 15px;
  text-align: center;
  margin: 20px auto 20px; }

.radio {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .radio input, .radio .jq-selectbox {
    display: none; }
    .radio input:checked + small:after, .radio .jq-selectbox:checked + small:after {
      opacity: 1; }
  .radio small {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #6C7279;
    position: relative;
    margin-right: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .radio small:after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      opacity: 0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: #f88d0a;
      transition: .3s; }

.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .3s;
  outline: none; }
  .link:hover, .link.active {
    color: #f88d0a; }
  .link-border {
    border-bottom-color: rgba(75, 75, 75, 0.2); }
    .link-border:hover {
      border-bottom-color: transparent; }
  .link-arrow {
    position: relative;
    padding-bottom: 1px;
    border-bottom: 2px dotted #f88d0a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #f88d0a; }
    .link-arrow:after {
      content: '\E003';
      font-family: 'iconic';
      position: absolute;
      right: -16px;
      top: 4px;
      font-size: 12px; }
    .link-arrow:hover {
      border-bottom-color: #fbc338;
      color: #fbc338; }

h1, .h1 {
  font-family: "Milio";
  font-size: 2.66667rem;
  font-weight: 700;
  line-height: 1.2;
  color: #060907;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  @media screen and (max-width: 800px) {
    h1, .h1 {
      font-size: 1.94444rem; } }
  @media screen and (max-width: 560px) {
    h1, .h1 {
      font-size: 1.66667rem; } }
  h1:after, .h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 73px;
    height: 4px;
    background: #fbc338; }

h2, .h2 {
  font-family: "Milio";
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #060907;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative; }
  @media screen and (max-width: 800px) {
    h2, .h2 {
      font-size: 1.55556rem; } }
  @media screen and (max-width: 560px) {
    h2, .h2 {
      font-size: 1.33333rem; } }
  h2:after, .h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 73px;
    height: 4px;
    background: #fbc338;
    transition: .4s; }

h3, .h3 {
  font-family: "Milio";
  font-size: 1.33333rem;
  font-weight: 700;
  line-height: 1;
  color: #060907;
  margin-bottom: 50px; }
  @media screen and (max-width: 800px) {
    h3, .h3 {
      font-size: 1.11111rem; } }
  @media screen and (max-width: 560px) {
    h3, .h3 {
      font-size: 1.11111rem; } }

.s-font {
  font-family: "ProximaNova"; }

@media screen and (max-width: 1150px) {
  .decor-title.fz70 {
    font-size: 3.05556rem; }
  .decor-title.fz68 {
    font-size: 3.05556rem; } }

@media screen and (max-width: 560px) {
  .decor-title.fz70 {
    font-size: 2.5rem; }
  .decor-title.fz68 {
    font-size: 2.5rem; } }

* {
  line-height: 1.3; }

p {
  margin-bottom: 25px;
  line-height: 1.75; }

/* Короткие классы для форматирования текста */
.fz12 {
  font-size: 12px; }

.fz13 {
  font-size: 13px; }

.fz18 {
  font-size: 18px; }

.fz23 {
  font-size: 23px; }
  @media screen and (max-width: 480px) {
    .fz23 {
      font-size: 1rem; } }

.txt-white {
  color: #fff; }

.txt-orange {
  color: #f88d0a; }

.txt-yellow {
  color: #fbc338; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw700 {
  font-weight: 700; }

.fw900 {
  font-weight: 900; }

.upper {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.mb0 {
  margin-bottom: 0; }

.mr0 {
  margin-right: 0; }

.ml0 {
  margin-left: 0; }

.mt0 {
  margin-top: 0; }

/* *************** template ******************************* */
html, :root {
  font-size: 18px;
  overflow-x: hidden; }

body {
  font-family: "Milio";
  font-size: 18px;
  color: #060907;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 0.77778rem; } }

.wrapper {
  max-width: 1240px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 30px; }
  @media screen and (max-width: 1100px) {
    .wrapper {
      padding: 0 20px; } }

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  background: #fff; }

.main {
  -ms-flex-positive: 1;
      flex-grow: 1; }

.svg-sprite {
  display: none; }

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  box-sizing: border-box; }

img {
  max-width: 100%; }

.header {
  position: relative;
  z-index: 3; }
  .header-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background: #fff;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 32px 0; }
  .header-menu {
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: 500; }
    .header-menu li {
      position: relative;
      padding-left: 15px;
      margin-right: 20px; }
      .header-menu li:last-child {
        margin-right: 0; }
      .header-menu li:before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #f88d0a;
        top: 7px;
        left: 0; }
  .header.fixed {
    margin-bottom: 56px; }
    .header.fixed .header-nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99; }
  .header-nav {
    background: #fbc338; }
    .header-nav ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      font-size: 14px;
      font-family: "ProximaNova";
      text-transform: uppercase;
      font-weight: 500; }
      .header-nav ul li {
        -ms-flex-positive: 1;
            flex-grow: 1;
        position: relative; }
    .header-nav a {
      display: block;
      text-align: center;
      padding: 20px 17px;
      transition: .3s; }
      .header-nav a:hover {
        color: #fff;
        background: #f88d0a; }
    .header-nav__dropdown a {
      padding-right: 25px; }
    .header-nav__dropdown:after {
      content: '';
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      -moz-transform: scale(0.9999);
      border-width: 5px 5px 0 5px;
      border-color: #060907 transparent transparent transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
      margin-top: -2px; }
    .header-nav__dropdown ul {
      background: #fbc338;
      position: absolute;
      top: 100%;
      left: 0;
      -ms-flex-direction: column;
          flex-direction: column;
      min-width: 250px;
      transition: .3s;
      visibility: hidden;
      opacity: 0; }
      .header-nav__dropdown ul a {
        text-align: left;
        font-size: 13px;
        padding: 12px 25px; }
    .header-nav__dropdown:hover ul, .header-nav__dropdown.show ul {
      visibility: visible;
      opacity: 1; }
    .header-nav__dropdown:hover > .link, .header-nav__dropdown.show > .link {
      background: #f88d0a;
      color: #fff; }
    .header-nav__dropdown:hover:after, .header-nav__dropdown.show:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      -moz-transform: scale(0.9999);
      border-width: 5px 5px 0 5px;
      border-color: #fff transparent transparent transparent; }
  @media screen and (max-width: 1250px) {
    .header-menu {
      font-size: 16px; }
      .header-menu li {
        margin-right: 15px; }
    .header-nav a {
      font-size: 12px !important;
      padding: 20px 12px; }
    .header-nav__dropdown:after {
      right: 0; } }
  @media screen and (max-width: 1000px) {
    .header-inner {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .header-menu {
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin-top: 30px;
      width: 100%;
      -ms-flex-order: 3;
          order: 3;
      text-align: center; }
      .header-menu li:before {
        top: 5px; }
    .header-logo {
      -ms-flex-order: 1;
          order: 1; }
    .header .parket-infodata {
      -ms-flex-order: 2;
          order: 2; } }
  @media screen and (max-width: 990px) {
    .header-nav {
      position: relative; }
      .header-nav ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        -ms-flex-direction: column;
            flex-direction: column;
        background: #fff; }
      .header-nav__dropdown:after {
        right: 30px;
        top: 25px;
        transform: none; }
      .header-nav__dropdown ul {
        background: #ececec;
        display: none;
        position: static;
        visibility: visible;
        opacity: 1;
        text-align: center; }
        .header-nav__dropdown ul a {
          text-align: center; } }
  @media screen and (max-width: 650px) {
    .header-menu {
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .header-menu li {
        margin-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .header-inner {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      padding: 15px 0; }
    .header .parket-infodata {
      margin-top: 20px; } }

.parket-infodata {
  font-family: "ProximaNova";
  white-space: nowrap; }
  .parket-infodata li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px; }
    .parket-infodata li:last-child {
      margin-bottom: 0; }
  .parket-infodata__whatsapp {
    font-size: 21px;
    font-weight: 700; }
    .parket-infodata__whatsapp:before {
      content: url("../images/icons/whatsapp.svg");
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      left: -2px; }
  .parket-infodata__phone {
    font-size: 21px;
    font-weight: 700; }
    .parket-infodata__phone:before {
      content: url("../images/icons/phone.png");
      position: absolute;
      top: 1px;
      width: 20px;
      height: 20px;
      left: -2px; }
  .parket-infodata__mail {
    font-weight: 500; }
    .parket-infodata__mail:before {
      content: url("../images/icons/mail.png");
      position: absolute;
      top: 0;
      left: 0; }
  .parket-infodata__call {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

.footer {
  padding: 70px 0 80px; }
  .footer-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-positive: 1;
        flex-grow: 1;
    font-family: "ProximaNova";
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px; }
    .footer-menu ul {
      margin-right: 50px; }
      .footer-menu ul:last-child {
        margin-right: 0; }
    .footer-menu li {
      margin-bottom: 20px; }
  .footer-logo {
    margin-right: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .footer .parket-infodata {
    margin-top: 30px; }
  @media screen and (max-width: 860px) {
    .footer {
      padding: 35px 0 50px; }
      .footer-inner {
        -ms-flex-direction: column;
            flex-direction: column; }
      .footer-menu {
        margin: 40px 0; }
      .footer-logo {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        margin-right: 0; }
      .footer .parket-infodata {
        margin-top: 30px;
        margin-left: 0; } }
  @media screen and (max-width: 560px) {
    .footer-inner {
      -ms-flex-align: center;
          align-items: center; }
    .footer-menu {
      -ms-flex-direction: column;
          flex-direction: column;
      text-align: center;
      margin-bottom: 0; }
      .footer-menu ul {
        margin-right: 0; }
    .footer .parket-infodata {
      margin-left: 0;
      margin-top: 30px; }
    .footer-logo {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }
  @media screen and (max-width: 480px) {
    .footer-menu ul {
      font-size: 13px; }
      .footer-menu ul:first-child {
        margin-right: 25px; } }

.rel {
  position: relative; }

.flex-row {
  display: -ms-flexbox;
  display: flex; }
  .flex-row.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex-row.column {
    -ms-flex-direction: column;
        flex-direction: column; }

.j-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.j-center {
  -ms-flex-pack: center;
      justify-content: center; }

.j-flex-start {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.j-flex-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.align-sb {
  -ms-flex-align: space-between;
      align-items: space-between; }

.align-f-start {
  -ms-flex-align: start;
      align-items: flex-start; }

.align-f-end {
  -ms-flex-align: end;
      align-items: flex-end; }

.align-center {
  -ms-flex-align: center;
      align-items: center; }

.w50 {
  width: 50%; }

.w33 {
  width: calc(100% / 3); }

.w25 {
  width: 25%; }

.bg-gray {
  background: #faf8f5 !important; }

.bg-pattern {
  background: url("../images/userfiles/bg-pattern.jpg"); }

.twentytwenty-overlay:hover {
  background: transparent !important; }

.twentytwenty-before-label,
.twentytwenty-after-label {
  opacity: 1 !important; }
  .twentytwenty-before-label:before,
  .twentytwenty-after-label:before {
    top: 4px !important;
    padding: 0 13px !important;
    line-height: 28px !important;
    margin-top: 0 !important;
    background-image: linear-gradient(-268deg, #fbc338 0%, #f88d0a 100%) !important;
    color: #fff !important;
    font-size: 20px !important;
    font-family: "Milio" !important;
    font-style: italic !important;
    text-transform: uppercase; }

.twentytwenty-before-label {
  left: 4px !important; }

.twentytwenty-after-label {
  right: 4px !important; }

.twentytwenty-handle {
  border: none !important;
  width: 48px !important;
  height: 48px !important;
  background-image: linear-gradient(-227deg, #fbc338 0%, #f88d0a 100%); }
  .twentytwenty-handle:before, .twentytwenty-handle:after {
    background: #fbc338 !important;
    box-shadow: none !important; }

.rotate {
  transition: 1s; }
  .rotate.visible {
    transform: rotate(360deg); }

.translate {
  transition: 1s;
  transform: translateX(80px);
  opacity: 0; }
  .translate.visible {
    opacity: 1;
    transform: translateX(0); }

.translate-up {
  transition: 1s;
  transform: translateY(80px);
  opacity: 0; }
  .translate-up.visible {
    opacity: 1;
    transform: translateY(0); }

ul.list {
  margin: 30px 0; }
  ul.list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px; }
    ul.list li:last-child {
      margin-bottom: 0; }
    ul.list li:before {
      content: '';
      background: #f88d0a;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 5px; }

ol {
  margin: 25px 0;
  padding-left: 20px;
  list-style-type: decimal; }
  ol li {
    margin-bottom: 15px; }

table {
  width: 100%;
  margin: 25px 0; }
  table tr {
    border-bottom: 1px solid #f88d0a; }
  table td {
    padding: 10px; }

.pricelist .tariff-item {
  width: 100%;
  transform: none !important;
  margin-top: 60px; }

.pricelist table {
  margin: 0; }
  .pricelist table .h3 {
    margin-top: 0; }

/* *************** particles ******************************* */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7); }
  .popup .promo-form {
    display: block !important;
    width: 100%;
    padding-top: 0;
    margin: 0; }
    .popup .promo-form__block {
      width: 100%; }
    .popup .promo-form__title {
      margin-bottom: 30px; }
  .popup-inner {
    transform: translateY(30px);
    position: relative;
    transition: .4s;
    max-width: 550px;
    width: 100%; }
  .popup-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 6;
    cursor: pointer; }
    .popup-close svg {
      width: 25px;
      height: 25px;
      fill: #fbc338; }
  .popup-title {
    text-align: center; }
  .popup .h3 {
    margin-bottom: 35px; }
  .popup-show {
    opacity: 1;
    visibility: visible; }
    .popup-show .popup-inner {
      transform: translateY(0); }
  .popup-btn {
    margin-top: 40px; }
  .popup .btn {
    width: 100%;
    margin-right: 10px; }
    .popup .btn:last-child {
      margin-right: 0; }
  .popup input, .popup .jq-selectbox {
    width: 100%; }
  .popup .input-wrap {
    margin-bottom: 15px; }
  @media screen and (max-width: 600px) {
    .popup-inner {
      max-width: 90%; }
    .popup .promo-form__title {
      font-size: 22px; }
    .popup .promo-form__block {
      padding: 25px 25px 40px; }
    .popup .promo-form__line {
      right: -15px; } }

.popup-success {
  background: #72513e;
  color: #fff;
  padding: 100px 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2; }
  .popup-success:before {
    content: '\E007';
    font-family: 'iconic';
    font-size: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7E5F4D;
    z-index: -1; }
  .popup-success__content {
    position: relative;
    z-index: 2; }
  .popup-success__title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px; }
    .popup-success__title:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 73px;
      height: 4px;
      background: #fbc338; }
  .popup-success strong {
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px 0;
    font-weight: 700; }
  .popup-success span {
    font-style: italic;
    font-family: "ProximaNova";
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 80px; }
  @media screen and (max-width: 480px) {
    .popup-success {
      padding: 65px 40px; }
      .popup-success__title {
        font-size: 40px; }
      .popup-success strong {
        font-size: 25px; }
      .popup-success:before {
        font-size: 260px; }
      .popup-success span {
        font-size: 17px;
        margin-top: 30px; } }

/* *************** libs ******************************* */
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px; }

.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block; }

.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: transparent; }

.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0; }

.twentytwenty-container * {
  box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }

.twentytwenty-before-label:before {
  content: attr(data-content); }

.twentytwenty-after-label {
  opacity: 0; }

.twentytwenty-after-label:before {
  content: attr(data-content); }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  transition-property: background;
  background: transparent;
  z-index: 25; }

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5); }

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1; }

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  border-radius: 1000px;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px; }

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px; }

/* *************** pages ******************************* */
.page-index .promo-form {
  margin-left: calc(41.66667% + 15px); }

@media screen and (max-width: 600px) {
  .page-index .promo {
    height: auto !important; } }

.page-index .clients {
  background: transparent !important;
  padding: 0; }

.promo {
  position: relative;
  height: 725px;
  z-index: 2; }
  .promo-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .promo-item {
    height: 725px;
    position: relative;
    z-index: 2; }
  .promo .js-promo-slider {
    height: 100%; }
  .promo-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .promo-slider .h2, .promo-slider .h3 {
      opacity: 0;
      visibility: hidden;
      transform: translateX(30px);
      transition: .7s; }
    .promo-slider .h2 {
      transition-delay: .3s; }
    .promo-slider .h3 {
      transition-delay: .5s; }
    .promo-slider .slick-active .h2, .promo-slider .slick-active .h3 {
      transform: translateX(0);
      opacity: 1;
      visibility: visible; }
    .promo-slider .promo-item:hover .h2:after {
      width: 150px; }
    .promo-slider .promo-item:hover .h2 {
      text-shadow: 4px 4px 7px #969696; }
    .promo-slider .promo-item:hover .promo-content::after {
      transform: scale(1.1); }
    .promo-slider .slick-prev {
      left: 20px;
      z-index: 9; }
    .promo-slider .slick-next {
      right: 20px;
      z-index: 9; }
    @media screen and (max-width: 1450px) {
      .promo-slider .slick-prev,
      .promo-slider .slick-next {
        display: none !important; } }
  .promo .wrapper {
    height: 100%;
    position: relative; }
  .promo-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%; }
  .promo-content {
    width: calc(41.66667% - 30px);
    padding-right: 50px;
    position: relative; }
    .promo-content:after {
      content: '';
      display: block;
      width: 210px;
      height: 210px;
      border: 15px solid rgba(6, 9, 7, 0.05);
      position: absolute;
      top: -45px;
      left: -70px;
      transition: .7s; }
    .promo-content .s-font {
      font-weight: 500; }
  .promo-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .promo-img {
    position: absolute;
    right: -125px;
    top: 20px;
    z-index: -1; }
  .promo-form {
    position: relative;
    z-index: 2;
    padding-top: 70px;
    width: calc(58.33333% - 30px); }
    .promo-form__block {
      position: relative;
      text-align: center;
      width: 400px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding: 50px 50px 75px;
      color: #fff;
      background: #72513e; }
    .promo-form__title {
      font-size: 36px;
      text-transform: uppercase;
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 20px; }
    .promo-form .h2 {
      font-style: italic;
      font-family: "ProximaNova";
      color: #fff;
      font-weight: 400;
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .promo-form .h2:after {
        left: 50%;
        transform: translateX(-50%); }
    .promo-form__line {
      position: absolute;
      top: 30px;
      bottom: -30px;
      left: 40px;
      right: -40px;
      border: 15px solid #fbc338;
      z-index: -1; }
  .promo .btn {
    width: 100%; }
  .promo .slick-dots {
    margin-left: 20px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-top: -90px;
    display: none !important; }
    .promo .slick-dots li {
      margin: 0 7px; }
    @media screen and (max-width: 1450px) {
      .promo .slick-dots {
        display: -ms-flexbox !important;
        display: flex !important; } }
  @media screen and (max-width: 1000px) {
    .promo-img {
      display: none; }
    .promo-form__block {
      width: 100%;
      padding-left: 32px;
      padding-right: 32px; }
    .promo-content:after {
      left: 25px; }
    .promo-form__title {
      font-size: 30px; } }
  @media screen and (max-width: 600px) {
    .promo {
      height: 430px !important; }
      .promo .wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
      .promo-form {
        display: none; }
      .promo-slider {
        position: static; }
      .promo-item {
        height: 430px; }
      .promo-content {
        width: 100% !important; } }

.advantage {
  padding: 130px 0;
  background: #faf8f5; }
  .advantage .flex-row {
    margin-top: 60px;
    margin-left: -20px;
    margin-right: -20px; }
  .advantage-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    padding: 0 20px; }
    .advantage-item .h3 {
      margin: 25px 0 20px; }
    .advantage-item p {
      font-family: "ProximaNova"; }
  .advantage-icon {
    width: 230px;
    height: 230px;
    border: 4px solid #fbc338;
    border-radius: 50%;
    padding: 14px;
    transition: .7s; }
    .advantage-icon.visible {
      transform: rotate(360deg); }
    .advantage-icon__inner {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      background: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  @media screen and (max-width: 800px) {
    .advantage {
      padding: 60px 0; }
      .advantage .flex-row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: center;
            justify-content: center; }
      .advantage-item {
        width: 50%;
        margin-bottom: 40px; }
        .advantage-item:last-child {
          margin-bottom: 0; } }
  @media screen and (max-width: 560px) {
    .advantage-item {
      width: 100%; } }

.about {
  padding: 70px 0;
  background: url("../images/userfiles/about-bg.jpg") center center/cover no-repeat; }
  .about-block {
    margin-bottom: 40px; }
    .about-block .flex-row {
      padding-top: 50px;
      font-family: "ProximaNova"; }
    .about-block__text {
      padding-right: 40px; }
    .about-block__img {
      margin-top: -30px;
      position: relative;
      z-index: 2; }
      .about-block__img:after {
        content: '';
        display: block;
        border: 50px solid #fbc338;
        position: absolute;
        top: 28px;
        left: 28px;
        right: -70px;
        bottom: -70px;
        z-index: -1; }
      .about-block__img img {
        box-shadow: 5px 6px 54px 0px rgba(0, 0, 0, 0.7); }
    @media screen and (max-width: 950px) {
      .about-block .flex-row {
        -ms-flex-direction: column;
            flex-direction: column; }
      .about-block .w50 {
        width: 100%; }
        .about-block .w50:last-child {
          -ms-flex-order: -1;
              order: -1; }
      .about-block__text {
        padding-right: 0; }
      .about-block__img {
        margin-bottom: 50px; }
        .about-block__img:after {
          display: none; } }

.clients {
  padding: 70px 0 70px; }
  .clients-text {
    margin: 25px 0;
    font-family: "ProximaNova"; }
  .clients-item {
    padding: 0 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    @media screen and (max-width: 700px) {
      .clients-item {
        width: calc(100% / 3);
        margin-bottom: 25px; } }
    @media screen and (max-width: 480px) {
      .clients-item {
        width: 50%;
        margin-bottom: 25px; } }

.works {
  padding: 75px 0 100px;
  background: url("../images/userfiles/about-bg.jpg") center center/cover no-repeat; }
  .works-wrap {
    margin: 55px -12px 75px; }
  .works-item {
    padding: 0 12px;
    margin-bottom: 22px; }
    @media screen and (max-width: 700px) {
      .works-item {
        width: 100%; } }
  @media screen and (max-width: 480px) {
    .works {
      padding: 40px 0 60px; }
      .works-wrap {
        margin-bottom: 25px; } }

.slick-slide {
  outline: none; }

.slick-arrow {
  width: 58px;
  height: 58px;
  border: 4px solid #fbc338;
  position: absolute;
  top: 50%;
  transition: .3s;
  transform: translateY(-50%); }
  .slick-arrow:hover {
    opacity: .7; }

.slick-prev {
  left: -75px; }
  .slick-prev:after {
    content: url("../images/icons/slider-prev.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.slick-next {
  right: -75px; }
  .slick-next:after {
    content: url("../images/icons/slider-next.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 45px; }
  .slick-dots li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid #fbc338;
    margin: 0 12px;
    position: relative;
    cursor: pointer; }
    .slick-dots li button {
      display: none; }
    .slick-dots li:after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(-221deg, #fbc338 0%, #f88d0a 100%);
      display: none; }
    .slick-dots li.slick-active:after {
      display: block; }

.letters {
  padding: 75px 0 80px; }
  .letters .slick-track {
    padding-top: 40px;
    padding-bottom: 40px; }
  .letters .js-letters-slider {
    margin-top: 60px; }
  @media screen and (max-width: 1300px) {
    .letters .slick-arrow {
      display: none !important; } }
  @media screen and (max-width: 480px) {
    .letters .slick-dots {
      margin-top: 20px; }
    .letters .js-letters-slider {
      margin-top: 30px; } }

.letter {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .letter-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/userfiles/border.png") center center/cover no-repeat;
    z-index: -1; }
  .letter a {
    display: block;
    padding: 30px 50px 50px 30px;
    position: relative;
    z-index: 2; }
    .letter a:after {
      content: '';
      position: absolute;
      top: 5.4%;
      right: 12%;
      left: 7%;
      bottom: 9%;
      opacity: 0;
      background-image: linear-gradient(-224deg, #fbc338 0%, #f88d0a 100%);
      transition: .5s; }
    .letter a:before {
      content: url("../images/icons/zoom.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      transition: .5s; }
    .letter a:hover:after {
      opacity: .75; }
    .letter a:hover:before {
      opacity: 1; }

.order-form {
  padding: 115px 0 160px;
  position: relative;
  z-index: 2;
  color: #fff; }
  .order-form__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1; }
  .order-form__content {
    text-align: center;
    position: relative; }
    .order-form__content:after {
      content: '';
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      height: 440px;
      border: 15px solid #fbc338;
      z-index: -1; }
  .order-form__title {
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    background: url("../../images/userfiles/mask-text.png") center center no-repeat, #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .order-form__subtitle {
    font-size: 38px;
    text-transform: uppercase; }
  .order-form__undertitle {
    font-size: 36px;
    font-family: "ProximaNova";
    color: #fff;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 15px; }
    .order-form__undertitle:after {
      left: 50%;
      transform: translateX(-50%); }
  .order-form form {
    width: 100%;
    margin-top: 40px; }
    .order-form form .input-wrap, .order-form form button {
      -ms-flex-positive: 1;
          flex-grow: 1; }
    .order-form form .input-wrap:nth-child(2) {
      margin: 0 20px; }
  @media screen and (max-width: 770px) {
    .order-form {
      padding: 95px 0 80px; }
      .order-form .flex-row {
        -ms-flex-direction: column;
            flex-direction: column; }
      .order-form .input-wrap {
        margin-left: 0 !important;
        margin-right: 0 !important; }
      .order-form .btn {
        margin-top: 23px; }
      .order-form__title {
        font-size: 65px; }
      .order-form__subtitle {
        font-size: 28px; }
      .order-form__undertitle {
        font-size: 26px; } }
  @media screen and (max-width: 480px) {
    .order-form__title {
      font-size: 45px;
      margin-bottom: 20px; }
    .order-form__subtitle {
      font-size: 18px; }
    .order-form__undertitle {
      font-size: 20px; }
    .order-form__content:after {
      width: 90%;
      height: 315px; } }

.page-recovery .promo-img {
  right: -350px; }

.page-recovery .tariff-flex {
  margin-top: 140px; }

.page-recovery .tariff {
  padding-bottom: 0; }

.tariff {
  padding: 70px 0;
  background: url("../images/userfiles/pattern.png") center center/cover no-repeat; }
  .tariff-item {
    width: calc(100% / 3);
    padding: 10px;
    transition: .5s;
    cursor: pointer;
    position: relative; }
    .tariff-item.w50 {
      width: 50%; }
    .tariff-item.w100 {
      width: 100%; }
    .tariff-item:hover {
      transform: scale(1.05);
      z-index: 2; }
      .tariff-item:hover .tariff-item__inner {
        box-shadow: 0px 10px 40px 0px rgba(234, 102, 55, 0.4); }
    .tariff-item__inner {
      border-radius: 5px;
      background: #faf8f5;
      padding: 30px 17px;
      border: 1px solid #f88d0a;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      transition: .5s; }
    .tariff-item li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 25px; }
      .tariff-item li:after {
        content: url("../images/icons/check.png");
        position: absolute;
        top: 0;
        left: 0; }
  .tariff-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 70px; }
    .tariff-flex.j-flex-start {
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .tariff-title {
    margin-bottom: 15px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700; }
  .tariff .h3 {
    margin: 25px 0;
    text-transform: uppercase; }
  .tariff-price {
    font-size: 36px;
    font-weight: 700;
    color: #f88d0a;
    margin-top: 30px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end; }
  @media screen and (max-width: 1200px) {
    .tariff-title {
      font-size: 28px; } }
  @media screen and (max-width: 900px) {
    .tariff-item {
      width: 50%; }
    .tariff-flex {
      margin-top: 45px; } }
  @media screen and (max-width: 650px) {
    .tariff {
      padding: 35px 0; }
      .tariff-item {
        width: 100%;
        padding-left: 0;
        padding-right: 0; }
      .tariff-title {
        font-size: 24px;
        margin-bottom: 0; }
      .tariff-price {
        font-size: 28px; } }

.calculator {
  margin-top: 35px;
  margin-bottom: -240px; }
  .calculator-block {
    background: url(../images/icons/calc-bg.png) right bottom no-repeat, #fbc338;
    padding: 50px 20px 60px;
    color: #fff;
    text-align: center;
    z-index: 2; }
    .calculator-block__wrap {
      position: relative;
      z-index: 2; }
    .calculator-block--border {
      position: absolute;
      border: 15px solid #f88d0a;
      top: 40px;
      right: -40px;
      left: 40px;
      bottom: -40px;
      z-index: -1; }
  .calculator-title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
    margin-bottom: 27px;
    position: relative; }
    .calculator-title:after {
      content: '';
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      width: 73px;
      height: 4px;
      background: #ea6637; }
  .calculator .btn-calc {
    width: 400px;
    box-shadow: 0px 10px 53px 0px rgba(234, 102, 55, 0.6); }
  .calculator-form .input-wrap, .calculator-form button {
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .calculator-form .input-wrap {
    margin-right: 20px; }
  .calculator-form .jq-selectbox__select {
    background: url("../images/icons/setting.png") 20px center no-repeat, #fff; }
  .calculator .calc-error {
    display: none;
    font-family: "ProximaNova";
    font-size: 30px;
    font-style: italic;
    margin: 15px 0 25px; }
  .calculator .calc-result {
    display: none;
    font-family: "ProximaNova";
    font-size: 30px;
    font-style: italic;
    margin: 15px 0 25px; }
    .calculator .calc-result__value {
      font-size: 60px;
      font-weight: 700;
      font-family: "Milio";
      font-style: normal;
      margin-top: 10px; }
      .calculator .calc-result__value:after {
        content: 'руб';
        margin-left: 10px; }
  @media screen and (max-width: 850px) {
    .calculator .flex-row {
      -ms-flex-direction: column;
          flex-direction: column; }
    .calculator .w33 {
      width: 100%; } }
  @media screen and (max-width: 600px) {
    .calculator-title {
      font-size: 40px; }
    .calculator .calc-error,
    .calculator .calc-result {
      font-size: 23px; }
    .calculator .calc-result__value {
      font-size: 45px; } }
  @media screen and (max-width: 480px) {
    .calculator .btn-calc {
      width: 100%; }
    .calculator-block--border {
      display: none; }
    .calculator .wrapper {
      padding: 0; }
    .calculator-title {
      font-size: 33px; }
    .calculator .calc-error,
    .calculator .calc-result {
      font-size: 23px; }
    .calculator .calc-result__value {
      font-size: 45px; } }

.recovery-adv {
  padding: 335px 0 80px;
  color: #fff;
  background: url("../images/userfiles/recovery-img-2.jpg") center center/cover no-repeat; }
  .recovery-adv .h1 {
    margin-bottom: 50px; }
  .recovery-adv .advantage-item {
    margin-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .recovery-adv {
      padding: 260px 0 60px; } }

.work-steps {
  padding: 80px 0 30px; }
  .work-steps__title {
    margin-bottom: 70px; }
  .work-steps__number {
    font-size: 48px;
    font-weight: 700;
    color: #fbc338;
    margin-right: 30px; }
  .work-steps .advantage-item {
    margin-bottom: 80px; }
    .work-steps .advantage-item .flex-row {
      margin-bottom: 25px;
      margin-left: -80px; }
  @media screen and (max-width: 1100px) {
    .work-steps .advantage-item .flex-row {
      -ms-flex-direction: column;
          flex-direction: column;
      margin-left: 0; }
    .work-steps__number {
      margin-right: 0;
      margin-bottom: 20px; } }
  @media screen and (max-width: 700px) {
    .work-steps .advantage-item {
      margin-bottom: 30px; } }
  @media screen and (max-width: 480px) {
    .work-steps {
      padding: 40px 0 15px; }
      .work-steps .advantage-item p {
        margin-bottom: 0; } }

.info-about {
  padding: 75px 0 100px;
  font-family: "ProximaNova"; }
  .info-about .h1 {
    position: relative;
    z-index: 2; }
  .info-about__text {
    margin-top: 60px; }
    .info-about__text p {
      line-height: 1.55; }
  .info-about__img {
    float: right;
    position: relative;
    margin-left: 30px;
    margin-top: -40px; }
    .info-about__img img {
      position: relative;
      z-index: 2;
      box-shadow: 5px 6px 54px 0px rgba(0, 0, 0, 0.7); }
    .info-about__img--border {
      position: absolute;
      border: 50px solid #fbc338;
      top: -70px;
      right: -70px;
      left: 27px;
      bottom: 27px; }
  .info-about__adv {
    text-align: center;
    margin-top: 50px; }
    .info-about__adv .flex-col {
      padding: 0 15px; }
    .info-about__adv strong {
      font-family: "Milio";
      display: block;
      font-size: 100px;
      color: #f88d0a;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative; }
      .info-about__adv strong:after {
        content: '%'; }
      .info-about__adv strong:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 40px;
        height: 4px;
        background: #f88d0a; }
    .info-about__adv span {
      font-family: "ProximaNova";
      font-weight: 500; }
  @media screen and (max-width: 1000px) {
    .info-about__img {
      float: none;
      margin-top: 10px;
      margin-bottom: 40px;
      margin-left: 0; }
      .info-about__img--border {
        display: none; }
    .info-about__adv .w33 {
      width: 100%;
      margin-bottom: 25px; } }
  @media screen and (max-width: 480px) {
    .info-about {
      padding: 35px 0 35px; }
      .info-about__adv strong {
        font-size: 70px; } }

.page-works .works {
  padding-bottom: 0; }

.works-category {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .works-category__link {
    display: block;
    height: 42px;
    line-height: 38px;
    white-space: nowrap;
    border-radius: 21px;
    padding: 0 27px;
    font-size: 16px;
    border: 3px solid #f88d0a;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: "ProximaNova";
    text-transform: uppercase;
    font-weight: 500; }
    .works-category__link.active, .works-category__link:hover {
      background: #f88d0a;
      color: #fff; }
  @media screen and (max-width: 480px) {
    .works-category__link {
      font-size: 13px; } }

.page-service .promo {
  height: auto;
  padding-top: 30px; }

.page-service .promo-form {
  width: 50%;
  padding-top: 0;
  margin-bottom: -60px;
  margin-right: -50px; }
  .page-service .promo-form__block {
    width: 100%; }

.page-service .promo-content {
  width: 50%; }

.services-item {
  margin-bottom: 55px;
  -ms-flex-align: start;
      align-items: flex-start; }

.services-block {
  padding: 85px 0; }
  .services-block .slick-arrow {
    border: none;
    bottom: -18px;
    top: auto;
    transform: none;
    width: auto; }
  .services-block .slick-prev {
    left: 10px; }
  .services-block .slick-next {
    right: 10px; }
  .services-block .slick-dots {
    margin-top: 25px; }
  .services-block__item {
    margin-bottom: 50px; }
    .services-block__item p {
      font-family: "ProximaNova"; }
  .services-block__slider {
    margin-top: 50px; }
    .services-block__slider .slide {
      padding: 0 10px 15px; }
      .services-block__slider .slide img {
        box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.3); }

.services-slider {
  width: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 25px; }

.services-content {
  padding-top: 45px; }
  .services-content .h3 {
    margin-bottom: 23px; }
  .services-content__text {
    font-family: "ProximaNova"; }
  .services-content .btn {
    margin-top: 23px; }

.services-tariff {
  padding-top: 0; }
  .services-tariff .tariff-price {
    color: #000;
    font-size: 28px; }
  .services-tariff__btn {
    margin-top: 25px; }
  .services-tariff .tariff-item {
    width: 100%; }
    .services-tariff .tariff-item:hover {
      transform: none;
      box-shadow: none; }
    .services-tariff .tariff-item__inner {
      font-family: "ProximaNova";
      background: none;
      border: none;
      box-shadow: none !important;
      padding: 0; }
  .services-tariff .flex-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  @media screen and (max-width: 700px) {
    .services-tariff .w50 {
      width: 100%; } }

.services-price {
  font-size: 24px;
  font-weight: 700; }
  .services-price strong {
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 10px; }
  .services-price__old {
    text-decoration: line-through;
    margin-right: 5px; }

.services-steps {
  font-family: "ProximaNova";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px; }
  .services-steps__item {
    margin-bottom: 40px;
    padding-right: 40px; }
    @media screen and (max-width: 700px) {
      .services-steps__item.w50 {
        width: 100%; } }
    @media screen and (max-width: 900px) {
      .services-steps__item.w33 {
        width: 50%; } }
    @media screen and (max-width: 700px) {
      .services-steps__item.w33 {
        width: 100%; } }
  .services-steps__text {
    line-height: 1.5; }
  .services-steps__title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold; }
    .services-steps__title .txt-orange {
      font-family: "Milio";
      white-space: nowrap;
      margin-right: 10px;
      text-transform: uppercase; }

@media screen and (max-width: 800px) {
  .services-item {
    -ms-flex-direction: column;
        flex-direction: column; }
  .services-slider {
    margin-right: 0;
    width: 100%; }
    .services-slider img {
      width: 100%; }
  .services-block {
    padding: 35px 0; }
  .services-steps__item {
    padding-right: 0; } }

@media screen and (max-width: 560px) {
  .services-block__slider .slick-arrow {
    display: none; } }

@media screen and (max-width: 480px) {
  .services-block .btn {
    width: 100%; } }

.colors__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px; }

.colors__title {
  font-family: "ProximaNova";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase; }

.colors__item {
  padding: 0 10px;
  width: calc(100% / 6);
  margin-bottom: 30px; }

.colors__name {
  font-weight: 500;
  font-family: "ProximaNova";
  margin-top: 8px; }

.colors-describe {
  margin: 35px 0; }
  .colors-describe__img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 20px; }
  .colors-describe__text {
    padding-top: 30px;
    font-family: "ProximaNova"; }
    .colors-describe__text p {
      line-height: 1.2; }
  .colors-describe__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px; }

@media screen and (max-width: 700px) {
  .colors__item {
    width: 25%; } }

@media screen and (max-width: 560px) {
  .colors-describe {
    display: block; }
  .colors__item {
    width: 50%; } }

.oil-steps .services-steps__text {
  position: relative;
  padding-left: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.15; }
  .oil-steps .services-steps__text:before {
    content: '?';
    color: #f88d0a;
    font-weight: 700;
    font-family: "ProximaNova";
    font-size: 25px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -3px; }

.oil__list {
  max-width: 1054px; }
  .oil__list .colors__item {
    width: calc(100% / 5); }
    @media screen and (max-width: 700px) {
      .oil__list .colors__item {
        width: 25%; } }
    @media screen and (max-width: 560px) {
      .oil__list .colors__item {
        width: 50%; } }

.articles {
  padding: 80px 0; }
  .articles-item {
    display: -ms-flexbox;
    display: flex;
    font-family: "ProximaNova";
    margin-bottom: 50px; }
    .articles-item p {
      margin-bottom: 15px; }
  .articles-list {
    margin-top: 45px; }
  .articles-img {
    max-width: 400px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 20px; }
    .articles-img img {
      box-shadow: 5px 6px 54px 0px rgba(0, 0, 0, 0.3); }
  .articles-date {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px; }
  .articles .h3 {
    margin-bottom: 18px;
    text-transform: uppercase; }
  @media screen and (max-width: 800px) {
    .articles {
      padding: 45px 0; }
      .articles-item {
        -ms-flex-direction: column;
            flex-direction: column; }
      .articles-img {
        max-width: 100%;
        margin-bottom: 25px;
        margin-right: 0; }
        .articles-img img {
          width: 100%; } }

.reviews {
  font-family: "ProximaNova";
  padding: 50px 0; }
  .reviews-slider {
    margin: 30px -10px; }
    .reviews-slider .slick-arrow {
      top: 28%; }
  .reviews-slide {
    padding: 0 10px; }
    .reviews-slide__title {
      margin: 8px 0; }
    .reviews-slide__img {
      height: 220px;
      position: relative;
      margin-bottom: 20px; }
      .reviews-slide__img .thumb {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .reviews-slide__img .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2; }
  .reviews-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px 0; }
  .reviews-item {
    margin-bottom: 50px;
    padding-right: 30px; }
    .reviews-item__text {
      margin: 20px 0;
      line-height: 1.3; }
    .reviews-item__author {
      font-weight: 700;
      margin-bottom: 5px; }
    @media screen and (max-width: 650px) {
      .reviews-item {
        width: 100%; } }
  .reviews__load {
    text-align: center; }
    .reviews__load .btn {
      background: none;
      border: 3px solid #FBC338;
      color: #000;
      max-width: 340px;
      width: 100%; }
      .reviews__load .btn:hover {
        box-shadow: none; }
  .reviews-form {
    margin: 50px 0; }
    @media screen and (max-width: 850px) {
      .reviews-form__inner {
        display: block; } }
    .reviews-form__col {
      width: 50%;
      margin-bottom: 25px; }
      .reviews-form__col:first-child {
        padding-right: 20px; }
      .reviews-form__col:last-child .input-wrap {
        width: 100%;
        height: 100%; }
      .reviews-form__col-wrap {
        width: 100%;
        height: 100%; }
      @media screen and (max-width: 850px) {
        .reviews-form__col {
          width: 100%;
          padding-right: 0 !important; } }
    @media screen and (max-width: 560px) {
      .reviews-form__submit {
        width: 100%; } }
    .reviews-form input, .reviews-form .jq-selectbox,
    .reviews-form textarea {
      background: #FAF8F5;
      border: 1px solid #E5E5E5;
      z-index: -1; }
      @media screen and (max-width: 560px) {
        .reviews-form input, .reviews-form .jq-selectbox,
        .reviews-form textarea {
          font-size: 16px; }
          .reviews-form input.placeholder, .reviews-form .placeholder.jq-selectbox,
          .reviews-form textarea.placeholder {
            font-size: 15px; }
          .reviews-form input:-moz-placeholder, .reviews-form .jq-selectbox:-moz-placeholder,
          .reviews-form textarea:-moz-placeholder {
            font-size: 15px; }
          .reviews-form input::-moz-placeholder, .reviews-form .jq-selectbox::-moz-placeholder,
          .reviews-form textarea::-moz-placeholder {
            font-size: 15px; }
          .reviews-form input:-ms-input-placeholder, .reviews-form .jq-selectbox:-ms-input-placeholder,
          .reviews-form textarea:-ms-input-placeholder {
            font-size: 15px; }
          .reviews-form input::-webkit-input-placeholder, .reviews-form .jq-selectbox::-webkit-input-placeholder,
          .reviews-form textarea::-webkit-input-placeholder {
            font-size: 15px; } }
    .reviews-form .input-wrap:last-child {
      margin-bottom: 0; }
    .reviews-form .input-name {
      background: url("../images/icons/user.png") 20px center no-repeat, #FAF8F5; }
    .reviews-form .input-phone {
      background: url("../images/icons/phone.png") 20px center no-repeat, #FAF8F5; }
    .reviews-form .input-build {
      background: url("../images/icons/home.png") 20px center no-repeat, #FAF8F5; }
    .reviews-form .input-mail {
      background: url("../images/icons/mail.png") 20px center no-repeat, #FAF8F5; }
    .reviews-form .input-date {
      background: url("../images/icons/calendar.png") 20px center no-repeat, #FAF8F5; }
    .reviews-form .input-textarea {
      background: url("../images/icons/message.png") 20px 22px no-repeat, #FAF8F5; }
    .reviews-form .w50:first-child {
      padding-right: 20px; }
    @media screen and (max-width: 560px) {
      .reviews-form__inner .flex-row {
        display: block; }
        .reviews-form__inner .flex-row .w50 {
          width: 100%;
          padding-right: 0;
          margin-bottom: 20px; } }
  .reviews__radio {
    margin: 30px 0; }
    @media screen and (max-width: 800px) {
      .reviews__radio {
        width: 100%; } }
    @media screen and (max-width: 480px) {
      .reviews__radio .flex-row {
        display: block; }
        .reviews__radio .flex-row .w50 {
          margin-bottom: 20px;
          width: 100%; } }

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }
