mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="#" + name)


mixin work(img, title, text, author)
  .works-item
    .works-item__inner
      .reveal-effect.js-on-visible
        .reveal-effect__overlay
        .reveal-effect__target
          a(href="#!").link.works-item__img
            img(src=img, alt="").reveal-effect__img
      .works-item__content
        .works-item__date 27.01.2017
        a(href="#!").link.link-border.works-item__title #{title}
        p #{text}
        .works-item__author стилист 
          a(href="#!").link.link-border #{author}

mixin service(img, title, price)
  a(href="#!").link.service-card.img-hover-target
    .reveal-effect.js-on-visible
      .reveal-effect__overlay
      .reveal-effect__target
        img(src=img, alt="").img-hover.reveal-effect__img
    .service-card__content
      .service-card__title
        .link.link-border #{title}
      strong от #{price} руб

mixin advices(img, title, big, play)
  a(href="#!").link.advices-card(class=typeof big === "undefined" ? "" : "advices-card--big")
    .advices-card__img.img-hover-target.reveal-effect.js-on-visible    
      .reveal-effect__overlay
      .reveal-effect__target
        img(src=img, alt="").img-hover.reveal-effect__img
        -if(typeof play !== "undefined")
          .play-button
            +icon('play')
    .advices-card__date 27.01.2017
    .advices-card__title
      span.link.link-border #{title}
  
