include ../_mixins

header.header
  .wrapper
    .header-inner
      .header-logo
        a(href="#!").link: img(src="http://prime-parket.ru/wp-content/uploads/2018/07/Prime-Parquet-Logo_2-180x86.png", alt="")
      ul.header-menu
        li: a(href="#!").link Главная
        li: a(href="#!").link Наши работы
        li: a(href="#!").link Акции
        li: a(href="#!").link Оборудование и лаки
        li: a(href="#!").link Полезные статьи
      ul.parket-infodata
        li.parket-infodata__phone: a(href="tel: 8(495)120-05-82").link 8 (495) 120-05-82
        li.parket-infodata__whatsapp: a(href="tel: +79299372282").link +7 (929)937-22-82
        li.parket-infodata__mail: a(href="mailto:info@prime-parket.ru").link info@prime-parket.ru
        li.parket-infodata__call: a(href="#popup-form").link.link-arrow.txt-orange.js-popup-btn заказать звонок
  .header-nav
    #nav-icon1
      span
      span
      span
    .wrapper
      ul.header-nav__list
        li.header-nav__dropdown
          a(href="#!").link циклевка
          ul
            li: a(href="#!").link циклевка паркета
            li: a(href="#!").link циклевка фанеры
        li: a(href="#!").link ремонт и реставрация паркета
        li: a(href="#!").link шлифовка паркетной доски
        li: a(href="#!").link тонировка паркета
        li.header-nav__dropdown
          a(href="#!").link Укладка
          ul
            li: a(href="#!").link Укладка паркетной доски
            li: a(href="#!").link Укладка паркета
        li: a(href="#!").link установка плинтусов