include ../_mixins

block vars
   - var title;
   - var pageClass = '';
   - var hideFooter;

<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="format-detection" content="telephone=no")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css", rel="stylesheet")
    
    // build:css css/vendor.min.css
    // bower:css
    link(rel='stylesheet', href='../../../vendor/reset-css/reset.css')
    link(rel='stylesheet', href='../../../vendor/slick-carousel/slick/slick.css')
    link(rel='stylesheet', href='../../../vendor/jquery.form-styler/dist/jquery.formstyler.css')
    link(rel='stylesheet', href='../../../vendor/magnific-popup/dist/magnific-popup.css')
    link(rel='stylesheet', href='../../../vendor/air-datepicker/dist/css/datepicker.css')
    // endbower    
    // endbuild
    // build:css css/commin.min.css
    link(href="../../css/common.css", rel="stylesheet")
    // endbuild
    title #{title}
  body
    .page(class='#{pageClass}')
      // header
      include header
      // end header
      

      main.main#main
        
        block content
      
      // footer
      - if(!hideFooter)
          include footer
      // end footer
    
    // popups
    include ../particles/popups
    // end popups
    // svg sprite
    .svg-sprite
      include ../../images/svg/symbol/sprite.svg
    
    // end svg sprite

    
    // build:js scripts/vendor.min.js
    // bower:js
    script(src='../../../vendor/jquery/dist/jquery.js')
    script(src='../../../vendor/slick-carousel/slick/slick.js')
    script(src='../../../vendor/viewport-units-buggyfill/viewport-units-buggyfill.js')
    script(src='../../../vendor/viewport-units-buggyfill/viewport-units-buggyfill.hacks.js')
    script(src='../../../vendor/jquery.form-styler/dist/jquery.formstyler.js')
    script(src='../../../vendor/magnific-popup/dist/jquery.magnific-popup.js')
    script(src='../../../vendor/ev-emitter/ev-emitter.js')
    script(src='../../../vendor/imagesloaded/imagesloaded.js')
    script(src='../../../vendor/air-datepicker/dist/js/datepicker.js')
    // endbower
    //- inject-not-bower:js
      
    script(src="../../scripts/libs/jquery.event.move.js")
      
    script(src="../../scripts/libs/jquery.inputmask.bundle.min.js")
      
    script(src="../../scripts/libs/jquery.twentytwenty.js")
      
    script(src="../../scripts/libs/jquery.viewportchecker.min.js")
      
    script(src="../../scripts/libs/jquery.visible.min.js")
      
    //- endinject
    // endbuild       
    // build:js scripts/common.min.js
    script(src="../../globConfigJs/config.js")
    //- inject:js    
        
    script(src="../../scripts/ajax-load.js")    
        
    script(src="../../scripts/common.js")    
        
    script(src="../../scripts/form.js")    
        
    script(src="../../scripts/popup.js")    
        
    script(src="../../scripts/sliders.js")    
        
    //- endinject
    // endbuild
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")